<section>
  <div class="container">
    <a href="/">
      <img  src="/img/Icon-Todolegal-gray20px.svg" alt="Card image cap" class="img-logo">
    </a>
    <div class="card card--onboarding bg-white rounded">
      <div class="card-body">
        <h2 class="card-title text-center">Reenviar el correo de confirmación</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data:{turbo:false}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:"Correo electrónico", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="form-group">
            <%= f.submit "Reenviar correo", class:'btn btn-primary btn-block btn-l'%>
          </div>
        <% end %>
      </div>
      <p class="card-text text-center content" ><%= render partial: "devise/shared/links", locals:{create: false} %></p>
    </div>
  </div>
</section>


<style>
  .img-logo{
    height: 12vh;
    max-height: 110px;
    margin: auto;
    display: block;
  }

  .card-title{
    margin-bottom: 30px;
  }

  .card-text{
    font-size: 18px;
    line-height: 21px;
    /* text-align: center; */
    color: #505864;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 767.98px){
    .card{
      width:100%;
      margin-left: 0%;
      padding: 0;
      border: none;
    }
    .card-body{
      padding: 0%;
    }

    section{
      background: white;
      height: 500px;
    }

    .img-logo{
      width: 70px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .card-title{
      font-size: 27px;
      line-height: 33px
    }
  }

