<%= form_with(model: law_tag, local: true) do |form| %>
  <% if law_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(law_tag.errors.count, "error") %> prohibited this law_tag from being saved:</h2>

      <ul>
        <% law_tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :law_id %>
    <%= form.number_field :law_id %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.number_field :tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
