<% content_for :title, "Crea tu cuenta - TodoLegal" %>

<section>
  <div class="container">
    
    <% if @go_to_law %>
      <input type="hidden" id="go_to_law" name="go_to_law" value="<%= @go_to_law %>">
    <% end %>
    <% if @go_to_checkout %>
      <input type="hidden" id="go_to_checkout" name="go_to_checkout" value="<%= @go_to_checkout %>">
    <% end %>
    <% if @is_monthly %>
      <input type="hidden" id="is_monthly" name="is_monthly" value="<%= @is_monthly %>">
    <% end %>
    <% if @is_annually %>
      <input type="hidden" id="is_annually" name="is_annually" value="<%= @is_annually %>">
    <% end %>
    <% if @is_student %>
      <input type="hidden" id="is_student" name="is_student" value="<%= @is_student %>">
    <% end %>
    <% if @pricing_onboarding %>
      <input type="hidden" id="pricing_onboarding" name="pricing_onboarding" value="<%= @pricing_onboarding %>">
    <% end %>
    <!-------------------------------- Register Card ------------------------------------------->
    <div style="text-align:center;">
      <a class="back-image" href="/">
        <img class="image" border="0" alt="Logo TodoLegal" href="/" src="/img/Icon-Todolegal-gray20px.svg"/>
      </a>
      <a class="back-image" href="/">
        <img class="image" border="0" alt="Logo Valid" href="/" src="/img/Icon-Valid-gray20px.svg"/>
      </a>
    </div>
    <div class="card card--onboarding bg-white rounded">
      <!-------------------------------- Card Body ------------------------------------------->
      <div class="card-body">
        <h2 class="card-title text-center">Crea tu cuenta</h2>
        <p class="content text-center">Si ya tienes una cuenta <%= render "devise/shared/links" %></p>
    
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource%>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 form-group">
                <%= f.label :Nombre %><br />
                <%= f.text_field :first_name, autofocus: true, class:"form-control", id:"name"%>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label :Apellido %><br />
                <%= f.text_field :last_name, class:"form-control", id:"lastName"%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :Correo_eléctronico %><br />
            <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"email"%>
          </div>

          <div class="form-group">
            <%= f.label :Número_de_teléfono %><br />
            <%= f.text_field :phone_number, autocomplete: "phone-number", class:"form-control", id:"phone"%>
          </div>

          <div class="form-group">
            <%= f.label :Contraseña %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id:"password"%>
            <small id="passwordHelpBlock" class="form-text text-muted">
              <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
            </small>
          </div>

          <div class="form-group">
            <%= f.label :Confirma_tu_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id:"confirmPassword"%>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-next btn-lg" id="nextButton"  
            data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus"
            data-content="Complete todos los campos." onclick="required()">Crear cuenta</button>
          </div>
          <%= javascript_pack_tag "form_validator" %>
        <% end %>
        <%= render partial: 'devise/shared/omniauth_login' %>
      </div>
      <!-------------------------------- End of Card Body ------------------------------------------->
    </div>
    <p class="content text-center">Al crear una cuenta, accedes a los <a href="https://policies.todolegal.app/terms/" target="_blank">Términos y condiciones</a></p>
    <!-------------------------------- End of Register Card ------------------------------------------->
  </div>
</section>

<script>

  //prevent nextButton click is input fields are empty
  function required ()
  {
    var name = document.getElementById("name").value;
    var lastName = document.getElementById("lastName").value;
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    
    if( name.includes("https") || name.includes("/") || (name.trim() == "") || (lastName.trim() == "") || (email.trim() == "") || (password.trim() == "") || (confirmPassword.trim() == "") || (isValid == false))
    {
        $('#nextButton').popover('show')
        event.preventDefault();
        event.stopPropagation();
    }
    else
    {
      if( name.includes("https") == false){
        $('#nextButton').unbind();
        $('#nextButton').popover('hide')
        document.getElementById("profileInfo").focus(); 
      }else{
        $('#nextButton').popover('show')
        event.preventDefault();
        event.stopPropagation();
      }
    }
    
  }
  
  //triggers nextButton click on enter
  //var input = document.getElementById("confirmPassword");
  addEventListener("keypress", function(event) {
    if ( event.keyCode === 13 ) {
      event.preventDefault();
      document.getElementById("nextButton").click();
    }
  });

  //triggers registerButton click on enter when second card is focused
  // var input = document.getElementById("profileInfo");
  // input.addEventListener("keypress", function(event) {
  //   if ( event.keyCode === 13 ) {
  //     event.preventDefault();
  //     document.getElementById("registerButton").click();
  //   }
  // });

  // addEventListener("change", function(event){
  //   $('.form-check').each(function() {
  //     if($(this).children().is(":checked")) {
  //       this.classList.add('checked');
  //     } else {
  //       this.classList.remove('checked');
  //     }
  //   });
  // });

//show the other field when radio button "Otro" is selected
  // function showOtherField(field){
  //   if(field === "Otro")
  //   {
  //     document.getElementById("otherField").style.display = "block";
  //   }else
  //   {
  //     document.getElementById("otherField").style.display = "none";
  //   }
  // }

  // //send occupation extra param
  // function sendParameter(){
  //   var param = document.getElementById("otherOccupation").value;
  //   console.log(param);
  //   document.getElementById("hiddenField").value = param;
  // }

</script>

<style>
  .image{
    height: 12vh;
    max-height: 110px;
    margin: 2vh auto 0;
  }

  .back-image{
    display: inline-block;
  }

  .form-check-input{
    width: 25px; 
    height:25px;
    border: 1px solid #505864;
    border-radius: 4px;
  }

  .form-check-label{
    padding-left:2%;
    width: 100%;
    font-family: -apple-system, sans-serif;
  }

  .form-check-inline{
    margin-right: 0px;
    width: 49%
  }

  .card-titles:{
    font-family: -apple-system, sans-serif;
    font-weight: bold;
  }
  .titles{
    font-family: -apple-system, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  .card{
    padding: 1rem;
    font-family: -apple-system, sans-serif;
  }

  section{
    background: #EFF3F8;
  }

  .img-fluid{
    height: 12vh;
    max-height: 110px;
    margin: 2vh auto 0;
    display: block;
  }

  #back-icon-container{
    width: 75%;
    margin: auto;
    position: relative;
  }

   #back-icon{
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto; 
    margin: auto;
    color: #495057;
    transition: color .2s ease-in-out;
    cursor: pointer;
  }

   #back-icon:hover {
    color: #171F2A;
  }

  .content{
    font-family: -apple-system, sans-serif;
    color: #505864;
    text-align: center;
  }

  .content.text-center {
    max-width: 260px;
    margin: auto;
    margin-bottom: 20px;
  }

  .card .content.text-center {
    max-width: 100%;
    margin-bottom: 2em;
  }

  #label-opcional{
    color: #505864;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
  }

  .modal-body{
    text-align: center;
  }

  #okButton{
    width: 150px;
  }

  #dismissBtn{
    background: #EFF3F7; 
    color: #505864; 
    border:none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-title{
    padding-top: 30px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }

  #labelBasico{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #505864;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #bottonsGroup{
    margin-bottom: 30px;
  }

  .more-info-text{
    font-family: -apple-system, sans-serif;
    color: #505864;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

  .modal-subtitle{
    color: #fc5603;
    font-family: -apple-system, sans-serif;
    font-weight: bold;
    margin: 2rem auto;
    line-height: 1.25rem;
    text-align: center;
  }

  @media only screen and (max-width: 767.98px){
    .card{
      width:100%;
      margin-left: 0%;
      padding: 0;
      border: none;
    }
    .card-body{
      padding: 0%;
    }

    section{
      background: white;
    }

    .form-control{
      background-color: #EFF3F8;
      height: 50px;
    }

    .img-fluid{
      width: 70px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    #logo{
      width: 70px;
    }

    #back-icon{
      font-size: 2rem;
    }

    #back-icon-container{
      width:100%;
      margin-left: 0%;
      margin-top: 2%;
      margin-bottom: 5%;
    }

    .form-check-inline{
      width: 100%;
    }

    #okButton, #dismissBtn{
      width: 100%;
    }
  }
</style>