<div class="container" style="html{background:#f77707;}">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-------------------------------- Register Card ------------------------------------------->
          <div class="card w-75 shadow p-3 mb-5 bg-white rounded", style="margin-left: 12.5%;">
            <img class="card-img-top" src="/img/logo_landing.png" alt="Card image cap" class="img-fluid">
            <!-------------------------------- Card Body ------------------------------------------->
            <div class="card-body">
              <h2 class="card-title text-center">Crea una cuenta</h2>
              <p class="card-text text-center"><small class="text-muted">Es fácil y toma menos de un minuto.</small></p>
              
              <%= render "devise/shared/error_messages", resource: resource%>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <%= f.text_field :first_name, autofocus: true, class:"form-control", placeholder:"Nombre", id:"name"%>
                  </div>
                  <div class="col-md-6 form-group">
                    <%= f.text_field :last_name, class:"form-control", placeholder:"Apellido", id:"lastName"%>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder:"E-mail", id:"email"%>
              </div>

              <div class="form-group">
                <% if @minimum_password_length %>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"Contraseña", id:"password"%>
                <small id="passwordHelpBlock" class="form-text text-muted">
                  <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
                </small>
              </div>

              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirmar contraseña", id:"confirmPassword"%>
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary" id="nextButton" data-target="#carouselExampleIndicators" 
                data-slide-to="1" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus"
                data-content="Complete todos los campos." onclick="required()">Siguiente</button>
              </div>

            </div>
            <!-------------------------------- End of Card Body ------------------------------------------->
            <div class="card-footer text-center">
              <em>¿Ya tienes una cuenta? <%= render "devise/shared/links" %></em>
            </div>

          </div>
        <!-------------------------------- End of Register Card ------------------------------------------->
        </div>
        <div class="carousel-item">
          <!-------------------------------- Register Card ------------------------------------------->
          <div class="card w-75 shadow p-3 mb-5 bg-white rounded", style="margin-left: 12.5%;">
            <img class="card-img-top" src="/img/logo_landing.png" alt="Card image cap" class="img-fluid">
            <!-------------------------------- Card Body ------------------------------------------->
            <div class="card-body">
              <%= render "devise/shared/error_messages", resource: resource %>
              
              <p>¿A qué te dedicas?</p>
              <div class="form-group">
                <%= f.select :occupation, ['Abogado', 'Estudiante', 'Otro'], {}, {class:"custom-select"} %>
              </div>
              <p>¿Deseas contribuir con mejoras?</p>
              <p class="text-secondary">Te podemos enviar encuestas o entrevistarte en persona.</p>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_contributor, "1", {class: "form-check-input", checked:"checked", required:"required"} %>
                  <label class="form-check-label" for="inlineRadio1">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                <%= f.radio_button :is_contributor, "0", {class: "form-check-input"}%>
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
              </div>

              <div class="form-group">
                <%= f.submit "Registrarse", class: 'btn btn-primary', id:"registerButton"%>
                <a href="#" data-target="#carouselExampleIndicators" data-slide-to="0",  style="margin-left:50%;text-decoration:underline;">Anterior</a>
              </div>

              <small class="text-muted text-center">Al hacer click en Registrarse aceptas nuestros <a href="/terms">Términos y condiciones</a>. </small>

              
            </div>
            <!-------------------------------- End of Card Body ------------------------------------------->

            <div class="card-footer text-center">
              <em>¿Ya tienes una cuenta? <%= render "devise/shared/links" %></em>
            </div>

          </div>
          <!-------------------------------- End of Register Card ------------------------------------------->
        </div>
      </div>
    </div>

  <% end %>

  <script>
    bootstrapValidate('#name', 'required:Debes ingresar tu nombre', function (isValid){
      if(isValid)
      {
        $('#nextButton').unbind();
        $('#nextButton').popover('hide')
      } else
      {
        $('#nextButton').click(function (e) {
          $('#nextButton').popover('show')
          e.preventDefault();
          e.stopPropagation();
        });
      }
    });
    bootstrapValidate('#lastName', 'required:Debes ingresar tu apellido', function (isValid){
      if(isValid)
      {
        $('#nextButton').unbind();
        $('#nextButton').popover('hide')
      } else
      {
        $('#nextButton').click(function (e) {
          $('#nextButton').popover('show');
          e.preventDefault();
          e.stopPropagation();
        });
      }

    });
    bootstrapValidate('#email', 'email:Debes ingresar un correo válido', function (isValid){
      if(isValid)
      {
        $('#nextButton').unbind();
        $('#nextButton').popover('hide')
      } else
      {
        $('#nextButton').click(function (e) {
          $('#nextButton').popover('show')
          e.preventDefault();
          e.stopPropagation();
        });
      }

    });
    bootstrapValidate('#password', 'min:8:Debes ingresar una contraseña válida',function (isValid){
      if(isValid)
      {
        $('#nextButton').unbind();
        $('#nextButton').popover('hide')
      } else
      {
        $('#nextButton').click(function (e) {
          $('#nextButton').popover('show')
          e.preventDefault();
          e.stopPropagation();
        });
      }
    });
    bootstrapValidate('#confirmPassword', 'matches:#password:Tus contraseñas deben ser iguales', function (isValid){
      if(isValid)
      {
        $('#nextButton').unbind();
        $('#nextButton').popover('hide')
      } else
      {
        $('#nextButton').click(function (e) {
          $('#nextButton').popover('show')
          e.preventDefault();
          e.stopPropagation();
        });
      }
    });

    function required ()
    {
      var name = document.getElementById("name").value;
      var lastName = document.getElementById("lastName").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;
      
      if( (name.trim() == "") || (lastName.trim() == "") || (email.trim() == "") || (password.trim() == "") || (confirmPassword.trim() == ""))
      {
          $('#nextButton').popover('show')
          event.preventDefault();
          event.stopPropagation();
      }
      else
      {
        $('#nextButton').unbind();
        $('#nextButton').popover('hide') 
      }
    }
  </script>

</div>