<section style="background: #EFF3F8;">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-------------------------------- Register Card ------------------------------------------->
            <img class="card-img-top" src="/img/logo_landing.png" alt="Card image cap" class="img-fluid">
            <div class="card w-75 p-3 shadow bg-white rounded", style="margin-left: 12.5%; margin-bottom: 0">
              <!-------------------------------- Card Body ------------------------------------------->
              <div class="card-body">
                <h2 class="card-title text-center" style="font-weight: bold;">Crea tu cuenta</h2>
                <p class="card-text text-center" style="font-family: SF Pro Display;color: #505864;">Si ya tienes una cuenta <%= render "devise/shared/links" %></p>
                <%= render "devise/shared/error_messages", resource: resource%>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <%= f.label :Nombre %><br />
                      <%= f.text_field :first_name, autofocus: true, class:"form-control", id:"name"%>
                    </div>
                    <div class="col-md-6 form-group">
                      <%= f.label :Apellido %><br />
                      <%= f.text_field :last_name, class:"form-control", id:"lastName"%>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :Correo_eléctronico %><br />
                  <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"email"%>
                </div>

                <div class="form-group">
                  <%= f.label :Contraseña %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id:"password"%>
                  <small id="passwordHelpBlock" class="form-text text-muted">
                    <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
                  </small>
                </div>

                <div class="form-group">
                  <%= f.label :Confirma_tu_contraseña %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id:"confirmPassword"%>
                </div>

                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block" id="nextButton" data-target="#carouselExampleIndicators" 
                  data-slide-to="1" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus"
                  data-content="Complete todos los campos." onclick="required()">Siguiente</button>
                </div>
              </div>
              <!-------------------------------- End of Card Body ------------------------------------------->
            </div>
            <p class="text-center" style="font-family: SF Pro Display;color: #505864;align-items: center;text-align: center;">Al crear una cuenta accedes a aceptar<br/>nuestros <a href="/terms">Términos y condiciones</a></p>
          <!-------------------------------- End of Register Card ------------------------------------------->
          </div>
          <div class="carousel-item">
            <!-------------------------------- Register Card ------------------------------------------->
            <img class="card-img-top" src="/img/logo_landing.png" alt="Card image cap" class="img-fluid">
            <div class="card w-75 shadow p-3 bg-white rounded", style="margin-left: 12.5%;">
              <!-------------------------------- Card Body ------------------------------------------->
              <div class="card-body">
                <%= render "devise/shared/error_messages", resource: resource %>
                
                <p>¿A qué te dedicas?</p>
                <div class="form-group">
                  <%= f.select :occupation, ['Abogado', 'Estudiante', 'Otro'], {}, {class:"custom-select"} %>
                </div>
                <p>¿Deseas contribuir con mejoras?</p>
                <p class="text-secondary">Te podemos enviar encuestas o entrevistarte en persona.</p>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <%= f.radio_button :is_contributor, "1", {class: "form-check-input", checked:"checked", required:"required"} %>
                    <label class="form-check-label" for="inlineRadio1">Sí</label>
                  </div>
                  <div class="form-check form-check-inline">
                  <%= f.radio_button :is_contributor, "0", {class: "form-check-input"}%>
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.submit "Registrarse", class: 'btn btn-primary', id:"registerButton"%>
                  <a href="#" data-target="#carouselExampleIndicators" data-slide-to="0",  style="margin-left:50%;text-decoration:underline;">Anterior</a>
                </div>
              </div>
              <!-------------------------------- End of Card Body ------------------------------------------->
            </div>
            <p class="text-center" style="font-family: SF Pro Display;color: #505864;align-items: center;text-align: center;">Al crear una cuenta accedes a aceptar<br/>nuestros <a href="/terms">Términos y condiciones</a></p>
            <!-------------------------------- End of Register Card ------------------------------------------->
          </div>
        </div>
      </div>

    <% end %>
  </div>
</section>

<script>
  //validate if input fields were filled with the right format and activates the popover when needed
  bootstrapValidate('#name', 'required:Debes ingresar tu nombre', function (isValid){
    if(isValid)
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide')
    } else
    {
      $('#nextButton').click(function (e) {
        $('#nextButton').popover('show')
        e.preventDefault();
        e.stopPropagation();
      });
    }
  });
  bootstrapValidate('#lastName', 'required:Debes ingresar tu apellido', function (isValid){
    if(isValid)
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide')
    } else
    {
      $('#nextButton').click(function (e) {
        $('#nextButton').popover('show');
        e.preventDefault();
        e.stopPropagation();
      });
    }

  });
  bootstrapValidate('#email', 'email:Debes ingresar un correo válido', function (isValid){
    if(isValid)
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide')
    } else
    {
      $('#nextButton').click(function (e) {
        $('#nextButton').popover('show')
        e.preventDefault();
        e.stopPropagation();
      });
    }

  });
  bootstrapValidate('#password', 'min:6:Debes ingresar una contraseña válida',function (isValid){
    if(isValid)
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide')
    } else
    {
      $('#nextButton').click(function (e) {
        $('#nextButton').popover('show')
        e.preventDefault();
        e.stopPropagation();
      });
    }
  });
  bootstrapValidate('#confirmPassword', 'matches:#password:Tus contraseñas deben ser iguales', function (isValid){
    if(isValid)
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide')
    } else
    {
      $('#nextButton').click(function (e) {
        $('#nextButton').popover('show')
        e.preventDefault();
        e.stopPropagation();
      });
    }
  });

  //prevent nextButton click is input fields are empty
  function required ()
  {
    var name = document.getElementById("name").value;
    var lastName = document.getElementById("lastName").value;
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    
    if( (name.trim() == "") || (lastName.trim() == "") || (email.trim() == "") || (password.trim() == "") || (confirmPassword.trim() == "") || (isValid == false) )
    {
        $('#nextButton').popover('show')
        event.preventDefault();
        event.stopPropagation();
    }
    else
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide') 
    }
  }

  //triggers button click on enter
  //var input = document.getElementById("confirmPassword");
  addEventListener("keypress", function(event) {
    if ( event.keyCode === 13 ) {
      event.preventDefault();
      document.getElementById("nextButton").click();
    }
  });

</script>