<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, class: 'form-control' %>
  </div>

  <div class="row">
    <%= link_to(edit_article_path(get_previous_article(@article)), {class: "d-inline p-2", method: 'get'}) do %>
      <div class="form-group">
        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-arrow-left"></i></i></button>
      </div>
    <% end %>

    <%= link_to(edit_article_path(get_next_article(@article)), {class: "d-inline p-2", method: 'get'}) do %>
      <div class="form-group">
        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-arrow-right"></i></i></button>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control tinymce', rows: '10' %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: 'd-inline p-2 btn btn-primary' %>
  </div>

<% end %>
