<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @article.number %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Position:</strong>
  <%= @article.position %>
</p>

<p>
  <strong>Law:</strong>
  <%= @article.law_id %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
