
<div class="container"> 
    <h1>Gacetas</h1>
    
    <%= link_to 'Subir documento', new_document_path(selected_document_type: "process", comes_from_gazette: true) %>

    <ul class="nav nav-tabs mt-3" id="gazettesView" role="tablist">
        <li  class="nav-item">
        <a class="nav-link active" id="gazettes-tab" data-toggle="tab" href="#gazettes" role="tab" aria-controls="gazettes" aria-selected="true">Gacetas ingresadas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="missing-gazettes-tab" data-toggle="tab" href="#missing-gazettes" role="tab" aria-controls="missing-gazettes" aria-selected="false">Gacetas faltantes</a>
        </li>
    </ul>

    <div class="tab-content mt-4" id="myTabContent">

        <div class="tab-pane fade show active" id="gazettes" role="tabpanel" aria-labelledby="gazettes-tab">

          <div class="row justify-content-end mb-3">
            <div class="col-6">
              <form action="<%= gazettes_url %>" method="get">
                <div class="input-group">
                  <input name="query" class="form-control search-input" value="<%= @query %>" type="text" aria-describedby="buttonSubmit" placeholder="">
                  <button type="submit" class="btn btn-outline-primary" id="buttonSubmit">Buscar</button>
                </div>
              </form>
            </div>
          </div>

          <%= render partial: 'gazettes_list', locals: {gazettes: @gazettes_pagination} , formats: :html %>

        </div>
        
        <div class="tab-pane fade" id="missing-gazettes" role="tabpanel" aria-labelledby="missing-gazettes-tab">
            <%= render partial: 'missing_gazettes', locals: {gazettes: @missing_gazettes} , formats: :html %>
        </div>

    </div>
    <%=paginate @gazettes_pagination %>
</div>

<style>
  .search-input{
    background-color: white;
  }

  .search-input:focus{
    background-color: white;
  }
</style>

