<div class="container">
  <h1> Administracion de Mailchimp</h1>
  <table  border="1">
    <thead>
      <tr>
        <th>Status</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Suscribed</td>
        <td><%= @suscribed %></td>
      </tr>
      <tr>
        <td>Unsuscribed</td>
        <td><%= @unsuscribed %></td>
      </tr>
      <tr>
        <td>Pending</td>
        <td><%= @pending %></td>
      </tr>
      <tr>
        <td>Archived</td>
        <td><%= @archived %></td>
      </tr>
    </tbody>
  </table>

  
  <%= form_tag admin_mailchimp_update_path, method: :post do %>
    <button class="btn btn-primary mt-4 mb-4" type="submit">Actualizar lista de mailchimp</button>
  <% end %>
</div>