<h3>Descarga</h3>
<ul>
  <li><%= link_to 'Descargar confirmados', download_confirmed_subscriptions_path(format: :csv) %></li>
  <li><%= link_to 'Descargar pendientes', download_pending_subscriptions_path(format: :csv) %></li>
</ul>

<h3>Suscripciones</h3>

<p>
  <% @subscriptions.each do |subscription| %>
    <%= subscription.email %>, 
  <% end %>
</p>

<p>Total: <%= @subscriptions.count %></p>

<h3>Confirmadas</h3>

<p>
  <% @confirmed_subscriptions.each do |confirmed_subscription| %>
    <%= confirmed_subscription.email %>, 
  <% end %>
</p>

<p>Total: <%= @confirmed_subscriptions.count %></p>