<% content_for :title, "Usuarios - TodoLegal" %>

<h1>Usuarios</h1>

<h3>Descarga</h3>

<ul>
  <li><%= link_to 'Descargar todos los usuarios', download_all_users_path(format: :csv) %></li>
  <li><%= link_to 'Descargar suscritos a información', download_recieve_information_users_path(format: :csv) %></li>
  <li><%= link_to 'Descargar contribuyentes', download_contributor_users_path(format: :csv) %></li>
</ul>

<section class="mb-4">

  <h3>Reporte de usuarios con free trial activado</h3>
  <%= render "email_campaign_report" %>
</section>

<form action="<%= admin_users_url %>" method="get">
  <div>
    <input name="email" value="<%= @email %>" type="text" placeholder="usuario@correo.com">
    <div>
      <button type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block'" type="button">Buscar</button>
    </div>
  </div>
</form>

<p><%= User.all.count %> usuarios registrados</p>

<table border="1">
  <tr>
    <th>email</th>
    <th>created at</th>
    <th>last sign in</th>
    <% @permissions.each do |permission| %>
      <th><%= permission.name %></th>
    <% end %>
    <th>Notificaciones</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.created_at %> ago</td>
      <td><%= user.last_sign_in_at ? time_ago_in_words(user.last_sign_in_at) : "" %> ago</td>

      <% @permissions.each do |permission| %>
        <% if UserPermission.find_by(user: user, permission: permission) %>
          <td>yes
            <form action="/admin/revoke_permission" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag :user_id, user.id %>
              <%= hidden_field_tag :permission_id, permission.id %>
              <div class="form-inline">
                <button type="submit">Revocar</button>
              </div>
            </form>
          </td>
        <% else %>
          <td>no
            <form action="/admin/grant_permission" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag :user_id, user.id %>
              <%= hidden_field_tag :permission_id, permission.id %>
              <div class="form-inline">
                <button type="submit">Otorgar</button>
              </div>
            </form>
          </td>
        <% end %>
      <% end %>

      <% user_preferences = UsersPreference.find_by(user: user) %>
      <% if user_preferences && user_preferences.active_notifications %>
        <td>
          Activadas
          <form action="/admin/deactivate_notifications" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :user_id, user.id %>
            <div class="form-inline">
              <button type="submit">Desactivar</button>
            </div>
          </form>
        </td>
      <% elsif user_preferences %>
        <td>
          Desactivadas
          <form action="/admin/activate_notifications" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :user_id, user.id %>
            <div class="form-inline">
              <button type="submit">Activar</button>
            </div>
          </form>
        </td>
      <% else %>
        <td>Sin preferencias creadas</td>
      <% end %>

    </tr>
  <% end %>
</table>
