<%= form_with(model: subsection, local: true) do |form| %>
  <% if subsection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subsection.errors.count, "error") %> prohibited this subsection from being saved:</h2>

      <ul>
        <% subsection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
