<% if @laws_array.size > 0 %>
  <div class="row">
    <% i = 0 %>
    <% @laws_array.each do |law| %>
      <% i+=1 %>
      <div class="collapsable-law-cards col-sm-6 col-md-4 py-2" style="display:<%= i>6 ? 'none' : 'block' %>">
        <div class="card card-body h-100" style="padding:0px">
          <a class="" href="<%= law_path(law) %>" style="padding:20px">
            <p style="font-size: 15px">
              <% law.materia_names.each do |materia_name| %>
                <span class="badge badge--materia"><%= materia_name %></span>
              <% end %>
            </p>
            <h5 class="card-title"><%= law.name %></h5>
            <div class="d-flex justify-content-between document-result-info">
              <span class="badge-creation badge-secondary"><i class="fas fa-file-alt"></i> <%= law.creation_number %></span>
              <span class="resultinfo-article-count">
                <% if @articles_count == 1 %>
                  <%= law.articles.count %>  artículo
                <% else %>
                  +<%= law.articles.count %> artículos
                <% end %>
              </span>
            </div>
          </a>
        </div>
      </div>
    <% end %>
    <button id="see_more_laws_link" class="btn btn-outline-primary btn-more-laws" style="margin-top:2%;" onclick="showCollapsableLawCards();return false;">Ver más documentos</button>
  </div>

  <br>

  <% if @laws_array.size > 0 %>
    <hr>
  <% end %>
<% end %>

<script>
visible_collapsable_law_cards = 6
collapsable_law_cards_elements = document.getElementsByClassName("collapsable-law-cards")

if(collapsable_law_cards_elements.length <= 6)
{
  hideSeeMoreLawsLink()
}

function showCards(cards, visible_cards)
{
  for(var i=0; i<visible_cards && i<cards.length; i++)
  {
    cards[i].style.display = "flex"
  }
}

function showCollapsableLawCards() {
  visible_collapsable_law_cards += 6
  if(visible_collapsable_law_cards >= collapsable_law_cards_elements.length)
  {
    hideSeeMoreLawsLink()
  }
  showCards(collapsable_law_cards_elements, visible_collapsable_law_cards)
}


function hideSeeMoreLawsLink()
{
  document.getElementById("see_more_laws_link").style.display = "none"
}

</script>