<p id="notice"><%= notice %></p>

<h1>Law Tags</h1>

<table>
  <thead>
    <tr>
      <th>Law</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @law_tags.each do |law_tag| %>
      <tr>
        <td><%= law_tag.law_id %></td>
        <td><%= law_tag.tag_id %></td>
        <td><%= link_to 'Show', law_tag %></td>
        <td><%= link_to 'Edit', edit_law_tag_path(law_tag) %></td>
        <td><%= link_to 'Destroy', law_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Law Tag', new_law_tag_path %>
