<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_permission.user_id %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @user_permission.permission_id %>
</p>

<%= link_to 'Edit', edit_user_permission_path(@user_permission) %> |
<%= link_to 'Back', user_permissions_path %>
