<p id="notice"><%= notice %></p>

<h1>Law Modifications</h1>

<table>
  <thead>
    <tr>
      <th>Law</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @law_modifications.each do |law_modification| %>
      <tr>
        <td><%= law_modification.law_id %></td>
        <td><%= law_modification.name %></td>
        <td><%= link_to 'Show', law_modification %></td>
        <td><%= link_to 'Edit', edit_law_modification_path(law_modification) %></td>
        <td><%= link_to 'Destroy', law_modification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Law Modification', new_law_modification_path %>
