<% if !@is_onboarding %>
  <%= render 'layouts/logged_navbar' %> 
<% end %>

<section class="pricing">
  <% if @is_onboarding %>
    <div style="text-align:center;">
      <a class="back-image" data-toggle="modal" data-target="#cancelModalTodolegal" href="/">
        <img class="image" border="0" alt="Logo TodoLegal" src="/img/Icon-Todolegal-gray20px.svg" height="20px" />
      </a>
      <a class="back-image" data-toggle="modal" data-target="#cancelModalValid" href="/">
        <img class="image" border="0" alt="Logo Valid" src="/img/Icon-Valid-gray20px.svg" height="20px"/>
      </a>
    </div>

    <%= render "cancel_modal", id: "cancelModalTodolegal", cancel_url: root_path %>
    <%= render "cancel_modal", id: "cancelModalValid", cancel_url: "https://valid.todolegal.app" %>

    <% if @user_just_registered %>
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="savedArticle"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
          La información de perfil ha sido guardada, elige un plan para tu cuenta.
      </div>
    <% end %>
  <% end %>

  <div class="card--pricing">
    <div class="container">
      <div class="row">
        <div class="pricing-heading col-12">
        <h2 class="title">Elige un Plan</h3>
        <p class="body">Valid es una herramienta para abogados y equipos legales que quieren optimizar sus procesos de investigación y mantenerse informados de los cambios mas relevantes.</p>
          
        <p class="body">Con Inteligencia Artificial y Motores de Búsqueda, facilitamos el acceso a información legal contenida en La Gaceta. Puedes encontrar documentos por número de publicación o tema, y descargar fácilmente los archivos. Cada nueva Gaceta de Honduras la puedes encontrar en Valid.</p>
                
        <p class="body">Conoce nuestros planes, y elige el que mas te sirva.  

          </p>
        </div>
      </div>

      <div class="row row-eq-height">
      
        <% if !current_user || @user_just_registered%>
          <!-- Card - Plan Basico  -->
          <div class="col-lg-4 col-md-12">
            <div class="card card--dark-100" id="pro-mensual">
              <div class="card-body">
                <h5 class="card-title">Prueba Gratis</h5>
                <h6 class="card-price">Gratis</h6>
                  <%= render 'basic_pricing_description' %>
              </div>
              <% if @pricing_onboarding %>
                <div class="card-bottom">
                  <%= button_to "Iniciar prueba", @select_pro_plan_path, method: :get, params: {is_onboarding: @is_onboarding, pricing_onboarding: @pricing_onboarding, go_to_law: @go_to_law}, class:"btn btn-block btn-primary btn-pricing"%>
                </div>
              <% else %>
                <div class="card-bottom">
                  <a href="https://valid.todolegal.app" class="btn btn-block btn-primary btn-pricing"%>Iniciar prueba </a>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

         <!-- Pro Tier mensual  -->
        <div class="col-lg-4 col-md-12" id="proMensual">
          <div class="card card--dark-100">
            <div class="card-body">
              <h5 class="card-title">Profesional Mensual</h5>
              <h6 class="card-price">$<%= BASE_PRICE_MONTHLY %><span class="period">/mensual</span></h6>
              <div class="row range-label desktop-range-labels">
                <div class="col-lg-12 col-md-12 pro-labels-container">
                  <label for="customRange1" class="range-top-label">Mensual</label>
                  <label for="customRange1" class="range-top-label">Anual</label>
                </div>
              </div>
              <div class="row pro-range desktop-range">
                <div class="col-lg-12 col-md-12">
                  <input type="range" class="form-range" min="1" max="3" value="1" id="customRange1" onchange="changeProPlan(this.value)">
                </div>
              </div>
              
              <!-- 
              <small>Podrás ahorrar <strong>50%</strong> si eliges el
                //Agregar el switch de mensual a anual tambien
                <label class="link" onclick="changePlan(1)">pago anual</label>.</small>
                -->
                <%= render 'pro_pricing_description' %>
            </div>
            <div class="card-bottom">
              <%= button_to "Elegir Plan Pro", @select_pro_plan_path, method: :get, params: {is_monthly: true, is_onboarding: @is_onboarding, pricing_onboarding: @pricing_onboarding, go_to_law: @go_to_law}, class:"btn btn-block btn-primary btn-pricing"%>
              <!-- 
              <p class="text-center py-2 change-plan-link" onclick="changePlan(1)">Cambiar a pago anual</p>
              -->
            </div>
          </div>
        </div>

        <!-- Pro Tier anual -->
        <div class="col-lg-4 col-md-12 hide-plan" id="proAnual">
          <div class="card card--dark-100">
            <div class="card-body">
              <h5 class="card-title">Profesional Anual</h5>
              <h6 class="card-price">$ <%= MONTHLY_PRICE_ANNUALLY %><span class="period">/mensual</span></h6>
              <small>Facturado a <strong>$<%= BASE_PRICE_ANNUALLY %></strong> anual -20%</small>
              <div class="row range-label desktop-range-labels">
                <div class="col-lg-12 col-md-12 pro-labels-container">
                  <label for="customRange3" class="range-top-label">Mensual</label>
                  <label for="customRange3" class="range-top-label">Anual</label>
                </div>
              </div>
              <div class="row pro-range desktop-range">
                <div class="col-lg-12 col-md-12">
                  <input type="range" class="form-range" min="1" max="3" value="3" id="customRange3" onchange="changeProPlan(this.value)">
                </div>
              </div>
              <%= render 'pro_pricing_description' %>
            </div>
            <div class="card-bottom">
              <%= button_to "Elegir Plan Pro", @select_pro_plan_path, method: :get, params: {is_annually: true, is_onboarding: @is_onboarding, pricing_onboarding: @pricing_onboarding, go_to_law: @go_to_law}, class:"btn btn-block btn-primary btn-pricing"%>
              <!-- 
              <p class="text-center py-2 change-plan-link" onclick="changePlan(2)">Cambiar a pago mensual</p>
              -->
            </div>
          </div>
        </div>

        <!-- Start Enterprise -->
        <div class="col-lg-4 col-md-12">
          <div class="card card--dark-100 card--enterprise">
            <div class="card-body">
              <h5 class="card-title">Enterprise</h5>
              <h6 class="card-price">$ <%= ENTERPRISE_PRICE %><span class="period">/mensual</span></h6>
              <!-- 
              <small>Para empresas.</small>
              -->
              <%= render 'enterprise_pricing_description' %>
            </div>
            <div class="card-bottom">
              <a href="https://calendly.com/tl-ventas/15" class="btn btn-block btn-primary btn-pricing"> Programa una llamada </a>
            </div>
          </div>
        </div>
        <!-- End Enterprise -->
        
      </div>

    </div>
  </div>
</section>

<script>
  // function changePlan(plan){
  //   if(plan == 1){
  //     document.getElementById("pro-tier").classList.remove('hide-plan');
  //     document.getElementById("pro-mensual").classList.add('hide-plan');
  //   }else{
  //     document.getElementById("pro-mensual").classList.remove('hide-plan');
  //     document.getElementById("pro-tier").classList.add('hide-plan');
  //   }
  // }

    function changeProPlan( value ){
      switch (value) {
        case "1":
          document.getElementById("proMensual").classList.remove('hide-plan');
          document.getElementById("proAnual").classList.add('hide-plan');

          document.getElementById("customRange3").value = 3
          break;
        case "2":
          document.getElementById("proMensual").classList.add('hide-plan');
          document.getElementById("proAnual").classList.add('hide-plan');

          document.getElementById("customRange1").value = 1
          document.getElementById("customRange3").value = 3
          break;
        case "3":
          document.getElementById("proMensual").classList.add('hide-plan');
          document.getElementById("proAnual").classList.remove('hide-plan');

          document.getElementById("customRange1").value = 1
          break;
        default:
          document.getElementById("proMensual").classList.remove('hide-plan');
          document.getElementById("proAnual").classList.add('hide-plan');

          document.getElementById("customRange3").value = 3
          break;
      }
    }
    
</script>

<style>
  section.pricing {
      background: #EFF3F8;
      padding-top: 1rem;
  }

  .hide-plan{
    display: none;
  }

  .pricing .card.card--discount {
    border: 1px solid #1A7FFA;
    border-radius: 0 0 4px 4px;
  }
  
  .btn-pricing{
    width: 80% !important;
  }

  .range-label{
    justify-content: center;
  }
  
  .pro-range{
    justify-content: center;
    margin-bottom: 15px;
  }

  .form-range{
    width: 100%;
  }

  .pro-labels-container{
    font-size: 0.9rem;
    text-align-last: justify;
  }

  @media only screen and (max-width: 992px) {
     .col-lg-4{
       margin-bottom: 15px;
     }
  }

  /* Label discount
  .pricing .card.card--discount:before {
    background: #1A7FFA;
    content: "50% Descuento válido hasta el 24 de agosto";
    display: block; 
    position: absolute;
    top: -40px;
    left: -1px  ;
    width: calc(100% + 2px);
    height: 40px;
    padding: .5rem;
    color: white; 
    border-radius: 4px 4px 0 0  ;
    border: 1px solid #1A7FFA;
    font-weight: bold;
  }  
*/
  /* Remove media query after 17 Aug
  @media (max-width: 375.98px) {

    .pricing .card.card--discount:before {
      top: -60px;
      height: 60px;
    }  

   }
*/
  @media only screen and (max-width: 767.98px) {
    section.pricing {
        background: white;
    }
  }

  section.pricing .alert{
    width: calc(100% - 30px);
    margin: auto auto 1rem;
    max-width: 1068px;
  }

  section.pricing .body,
  section.pricing li,
  section.pricing small .link {
    color: #505864;
  }

  section.pricing small {
    display: inline-block;
    margin-bottom: 1rem;  
    color: #505864;
  }
  
  .pricing .link {
    text-decoration: underline;
  }

  .change-plan-link, .link:hover{
    cursor: pointer;
  }

  .pricing-heading {
    text-align: left;
    margin-bottom: 1rem;
  }

  .change-plan-link{
    text-decoration: underline;
    color: #1A7FFA;
    margin: 0;
    padding-top: .5rem;

  }

  section.pricing .plan-description {
    color: #171F2A;
  }

  @media only screen and (max-width: 767.98px) {
     .pricing-heading {
        text-align: center;
        margin-bottom: .5rem;
      }
  }

  .card--pricing {
      background-color: #fff;
      padding-bottom: 2rem;
  }

  .card-bottom {
    padding-bottom: 1.5rem;
  }

  @media only screen and (min-width: 1280px) {
     .card--pricing {
        padding: 0 2rem 3rem 2rem;
    }
  }

  @media only screen and (min-width: 1280px) {
     section.pricing ul {
       margin-bottom: 2rem; 
      }
  }

  @media only screen and (max-width: 992px) {
     .card.col-lg-6 {
       margin: auto 1rem;
     }
     .card--enterprise {
        margin-bottom: 3rem;
        border: 1px solid red;
      }
  }

  @media only screen and (min-width: 992px) {
     
     /* .pricing .row {
       justify-content: space-between;
     } */
     .card.col-lg-6 {
       flex: 0 0 48%;
       margin-top: 1rem;
     }
     .card-bottom {
      min-height: 100px;
    }
  }
  

    .pricing .card {
        border: none;
        border-radius: 4px;
    }

    .pricing hr {
        margin: 1.5rem 0;
    }

    .pricing .card-title,
    .pricing .card-price {
        font-size: 1.5rem;
        margin: .5rem auto;
        font-weight: bold;
    }

    .card-price {
      color: #1A7FFA;
    }

    .pricing .card-price .period {
        font-size: 0.8rem;
    }

    .pricing ul li {
        margin-bottom: 1rem;
    }

    .pricing .text-muted {
        opacity: 0.7;
    }

    .pricing{
        background: #1A7FFA;
    }

    .title{
      font-size: 24px;
      padding-top: 4%;
      margin-bottom: .5rem;
      font-weight: bold;
    }

    .image{
      height: 12vh;
      max-height: 110px;
      margin: 2vh auto 0;
    }

    #btnDisable{
      /* opacity: 0.15; */
      background: #C9DFFA;
      border-style: none;
      color: #0360E7;
      line-height: 19px;
    }

    ul li .fa-li {
      color: #1A7FFA;
    }

    .pricing  .row-eq-height {
      justify-content: space-around;
    }

    /* Remove media query after 17 Aug */
    @media (max-width: 375.98px) {

    .pricing  .row-eq-height {
        padding-top: 1rem;
      }

   }

    .card-bottom .btn {
      max-width: 360px;
      margin: auto;
    }

    

 /* Move styles to general */
  .modal-body{
    text-align: center;
  }

  #okButton{
    width: auto;
  }

  #dismissBtn{
    border:none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-title{
    padding-top: 30px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }

  #labelBasico{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #505864;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #bottonsGroup{
    margin-bottom: 30px;
  }

  .more-info-text{
    font-family: -apple-system, sans-serif;
    color: #505864;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

  .modal-subtitle{
    color: #fc5603;
    font-family: -apple-system, sans-serif;
    font-weight: bold;
    margin: 2rem auto;
    line-height: 1.25rem;
    text-align: center;
  }

</style>
