<section class="checkout">
  <div class="container">
  <a href="/">
    <img  src="/img/Icon-Todolegal-gray20px.svg" alt="Card image cap" class="img-logo">
  </a>
  <div  class="card card--onboarding bg-white rounded">
    <div class="card-body">
      <%= render '/home/loading_spinner' %>
      <div id="processing-payment" style="display: none;">
        <h5 class="card-subtitle text-center">Espera un momento...</h5>
        <p class="text-center">Procesando pago</p>
      </div>
      <div align="center" id="payment-successful" style="display: none;">
        <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="33" cy="33" r="33" fill="#FF5722"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M55.3456 22.0289L28.7848 51.2457L11.1831 37.047L17.1029 29.7084L27.7869 38.3268L48.369 15.6865L55.3456 22.0289Z" fill="white"/>
        </svg>
        <h5 class="card-subtitle text-center">Pago exitoso</h5>
        <p class="text-center">Te redireccionaremos a donde estabas previamente.</p>
      </div>
      <div id="checkout-fields">
        <h5 class="card-subtitle text-center">Suscripción Pro</h5>
        <% if @is_monthly %>
          <h2 class="card-title text-center">L.250.00<small style="font-size: 1rem;">/mensual</small></h2>
        <% else %>
          <h2 class="card-title text-center">L.200.00<small style="font-size: 1rem;">/mensual</small></h2>
        <% end %>
        <p class="body text-center">Agrega tu tarjeta de crédito o débito para completar el pago de la suscripción.</p>

        <form action="/charge" method="post" id="payment-form">
          <div class="form-group">
            <label>Número de tarjeta </label>
            <div class="form-control" id="cardNumber-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-7 form-group">
                <label>Fecha de expiración </label>
                <div class="form-control"  id="cardExpiry-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
              </div>
              <div class="col-5 form-group">
                <label>Código CVV</label>
                <div class="form-control" id="cardCvc-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
              </div>
            </div>
          </div>
          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
          <%= hidden_field_tag :go_to_law, @go_to_law %>

          <% if user_signed_in? %>
            <%= hidden_field_tag :email, current_user.email %>
          <% end %>
          <div class="form-group">
            <button  type="submit" class="btn btn-primary btn-block btn-next btn-lg" onclick="document.getElementById('loading-spinner').style.display = 'block';document.getElementById('processing-payment').style.display = 'block';document.getElementById('checkout-fields').style.display = 'none'">
              Pagar suscripción
            </button>
          </div>
          <p class="text-center">¿No estás seguro del plan? <%= link_to "Cambiar de plan", :back %> </p>
          <p class="text-center"><small>Si tienes preguntas o necesitas ayuda contactanos a <a class="link" href="mailto:info@todolegal.app">info@todolegal.app</a></small></p>
        </form>
      </div>
    </div>
    <div data-attrs='{"PUBLIC_KEY": "pk_test_txfdiljergIpYg37zQPdSZT400FUwoSOay"}' id='stripe_params'>
      <%= javascript_pack_tag 'stripe_integration' %>
    </div>
  </div>
</div>
<div class="text-center img-fluid"><img class="img-fluid" src="/img/powered_by_stripe.svg" alt="El pago se realiza por medio de Stripe"></div>
</section>

<style>
  .img-logo{
    height: 15vh;
    max-height: 110px;
    margin: 2vh auto 0;
    display: block;
  }

  .card-title{
    margin-bottom: 2rem;
  }

  .card-subtitle {
    margin-top: 1.4rem;
  }

  .checkout .form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .checkout .card-title {
    color: #505864;
  }

  @media only screen and (max-width: 767.98px){

    section{
      background: white;
      height: 750px;
    }
    
    .card{
      width:100%;
      margin-left: 0%;
      padding: 0%;
      border: none;
    }
    .card-body{
      padding: 0%;
    }

    .card-title{
      font-size: 28px;
      line-height: 33px
    }

    .img-logo{
      width: 70px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
</style>