<p class="resultinfo">
  <%= @result_info_text %>
  <% if @tag && @query %>
    Buscar en <a href="/search_law?query=<%= @query%>">todas las materias</a>
  <% end %>
</p>

<% if @tag && !@query %>
  <h1><%= @tag.name %></h1>
<% end %>

<% if @result_count == 0 %>
  <p>Intenta tu búsqueda de nuevo cambiando las palabras o revisando la ortografía.</p>
<% end %>

<div class="row">
  <% i = 0 %>
  <% @laws.each do |law| %>
    <% i+=1 %>
    <div class="collapsable-law-cards col-sm-6 col-md-4 py-2" style="display:<%= i>6 ? 'none' : 'block' %>">
      <div class="card card-body h-100" style="padding:0px">
        <a class="" href="<%= law_path(law) %>" style="padding:20px">
          <h5 class="card-title"><%= law.name %></h5>
          <p class="primaryinfo"><%= law.creation_number %></p>
          <p class="primaryinfo"><%= law.articles.count %> artículos</p>
        </a>
      </div>
    </div>
  <% end %>
</div>

<div>
  <a id="see_more_laws_link" href="#" onclick="showCollapsableLawCards();return false;">Ver más resultados</a>
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<br>

<% if @laws.size > 0 %>
  <hr>
<% end %>

<% if @grouped_laws %>
  <div class="list-group">
    <% i = 0 %>
    <% @grouped_laws.each do |grouped_law| %>
      <% i += 1 %>
      <div class="collapsable-specific-results-cards list-group-item col-sm-12" style="display:<%= i>6 ? 'none' : 'block' %>">
        <a class="" href="<%= law_path(grouped_law[:law]) + '?query='+@query %>">
        <p style="font-size: 15px" class="primaryinfo"><%= grouped_law[:tag_text] %></p>
        <h5 class="card-title"><%= grouped_law[:law].name %> <span style="font-size: 15px">[<%= grouped_law[:law].creation_number %>]</span></h5>
        <p class="primaryinfo"><%= grouped_law[:preview] %></p>
        <p class="resultinfo">
          <%= grouped_law[:count] %>
          <% if grouped_law[:count] == 1 %>
            artículo relacionado
          <% else %>
            artículos relacionados
          <% end %>
        </p>
        </a>
      </div>
    <% end %>
  </div>
  <a id="see_more_specific_results_link" href="#" onclick="showCollapsableSpecificResultsCards();return false;">Ver más resultados</a>
  <br>
  <br>
<% end %>

<script>
visible_collapsable_law_cards = 6
visible_collapsable_specific_results_cards = 6

collapsable_law_cards_elements = document.getElementsByClassName("collapsable-law-cards")
collapsable_law_specific_results_elements = document.getElementsByClassName("collapsable-specific-results-cards")

if(collapsable_law_cards_elements.length <= 6)
{
  hideSeeMoreLawsLink()
}

if(collapsable_law_specific_results_elements.length <= 6)
{
  hideSeeMoreSpecificResultsLink()
}

function showCards(cards, visible_cards)
{
  for(var i=0; i<visible_cards && i<cards.length; i++)
  {
    cards[i].style.display = "flex"
  }
}

function showCollapsableLawCards() {
  visible_collapsable_law_cards += 6
  if(visible_collapsable_law_cards >= collapsable_law_cards_elements.length)
  {
    hideSeeMoreLawsLink()
  }
  showCards(collapsable_law_cards_elements, visible_collapsable_law_cards)
}

function showCollapsableSpecificResultsCards() {
  visible_collapsable_specific_results_cards += 6
  if(visible_collapsable_specific_results_cards >= collapsable_law_specific_results_elements.length)
  {
    hideSeeMoreSpecificResultsLink()
  }
  showCards(collapsable_law_specific_results_elements, visible_collapsable_specific_results_cards)
}

function hideSeeMoreLawsLink()
{
  document.getElementById("see_more_laws_link").style.display = "none"
}

function hideSeeMoreSpecificResultsLink()
{
  document.getElementById("see_more_specific_results_link").style.display = "none"
}
</script>