<section>
  <form action="<%= target_url %>" method="get">
    <div id="search-input" class="input-group input-group-lg mb-3 mt-0 main-search">
      <% if home_flag == false %>
        <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, class:"btn btn-back", style:"font-size: 1.5rem; color: #171F2A; padding-left: 0px;" %>
      <% end %>
      <input name="query" id="searchInput" value="<%= @query %>" type="text" class="form-control search-input" placeholder="Ej. Ad-litem, despido, prórroga" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
      <div class="input-group-append">
        <button type="button" class="close clear--text" id="clearButton" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% if home_flag %>
          <button type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block';document.getElementById('search-input').style.display = 'none';" class="btn btn-primary buscar" type="button" id="button-addon2">
          Buscar
          </button>
        <% else %>
          <button type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block';document.getElementById('search-input').style.display = 'none';" class="btn btn-primary buscar" type="button" id="button-addon2">
            <i class="fa fa-search"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div class="card help-card" id="helpCard" style="display: none; z-index: 3;">
      <div class = "card-body">
        <p class="help-card-text" style="color: #A6B9D3; font-size: 16px; line-height: 19px;">Busca por:</p>
        <p class="help-card-text">1. Título de documento o número de publicación.</p>
        <p class="help-card-text">2. Palabra clave.</p>
        <p class="help-card-text">3. Artículos específicos. Para esta opción escribe un símbolo de pleca <strong>/</strong> al inicio, 
        seguido por el o los números, y finalmente el término, cada uno separado por pleca. Cómo el ejemplo a continuación:
        </p>
        <a href="#" id="search-example" class="btn btn-block btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">/12/14/civil </a>
        <p class="help-card-text" style="color: #A6B9D3; font-size: 14px; line-height: 17px;">Equivale a la busqueda de artículos <i>12</i> y <i>14</i> que contengan el término <i>civil</i>.</p>
      </div>
    </div>
  </form> 
  <%= javascript_import_module_tag "clear_searchInput" %>
</section>
<%= render '/home/loading_spinner' %>

<style>
  #search-example{
    background: #EFF3F8;
    border-style: none;
    color: black;
    line-height: 19px;
    justify-content: left;
  }
  
  #helpCard{
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
     position: absolute;
     width: 100%;
     max-width: 640px;
     left: 0;
     right: 0;
     margin: auto;
     margin-top: -.65rem;
  }

  .help-card-text{
    font-size: 18px;
    line-height: 21px;
    color: #505864;
  }

</style>