<% content_for :title, "Repositorio COVID-19 - TodoLegal" %>

<div class="jumbotron d-sm-block" align="center" style="padding-top: 0px; padding-bottom: 20px;background-color: #EFF3F8;margin: 0px">
  <a href="/"><img src="/img/logo_landing_mobile.png" class="img-fluid-vertical" height="300"></a>
</div>
<div class="container container--results">
  <form action="/drive_search" method="get">
    <div id="search-input" class="input-group input-group-lg mb-3 main-search">
      <input name="query" value="<%= @query %>" type="text" class="form-control" placeholder="Busca información sobre el COVID-19" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block';document.getElementById('search-input').style.display = 'none';" class="btn btn-outline-secondary buscar" type="button" id="button-addon2">Buscar</button>
      </div>
    </div>
  </form>
  <h1>Repositorio COVID-19</h1>
  <%= render '/home/loading_spinner' %>
  <a href="<%= get_covid_search_back_link_path %>">
    <button type="button" class="btn btn-outline-primary">
      <i class="fas fa-arrow-left"></i>
    </button>
  </a>
  <% if @files == [] %>
    <div class="container--empty-results">
      <p class="body">No se han encontrado documentos que coincidan con <strong><%= @query %></strong>.</p>
      <div class="no-result-message">
        <img src="/img/img-search-doc.svg" />
        <p class="body body--secondary">
          Asegurate de haber escrito la busqueda correctamente, sino intenta con un término similar. Recuerda que puedes refinar tu busqueda por título, palabra clave y número de artículo.
        </p>
      </div>
    </div>
  <% else %>
    <div class="row">
      <% @files.each do |file| %>
        <% if file['type'] == 'application/vnd.google-apps.folder' %>
          <div class="collapsable-law-cards col-sm-6 col-md-4 py-2">
            <div class="card card-body h-100" style="padding:0px">
              <a class="" href="<%= '/drive_search?folder=' + file['name'] %>" target="_self" style="padding:20px">
                <i class="fas fa-folder"></i>
                <h5 class="card-title"><%= file['name'] %></h5>
                <p class="primaryinfo">[<%= file['file_count'] %> archivos]</p>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <% @files.each do |file| %>
        <% if file['type'] != 'application/vnd.google-apps.folder' %>
          <div class="collapsable-law-cards col-sm-6 col-md-4 py-2">
            <div class="card card-body h-100" style="padding:0px">
              <a class="" href="<%= file['link'] %>" target="_blank" style="padding:20px">
                <img src="/img/google_drive_logo.png"/>
                <h5 class="card-title"><%= file['name'] %></h5>
                <p class="primaryinfo">[<%= file['type'] %>]</p>
                <i>Abrir en google drive</i>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Ir al inicio', root_path %>
</div>