<% content_for :title, "TodoLegal - El buscador de leyes de Honduras" %>

<div class="landing-page">
  <div class="jumbotron d-none d-sm-block" align="center"
    style="padding-top: 0px; padding-bottom: 5px;background-color: #EFF3F8;margin: 0px">
    <a href="/"><img align="center" src="/img/logo_landing_mobile.png" class="img-fluid-vertical" height="300"></a>
    <p class="landing-header-text">El navegador legal de Honduras</p>
  </div>

  <div class="jumbotron d-block d-sm-none"
    style="padding-top: 0px; padding-bottom: 0px;background-color: #EFF3F8;margin: 0px">
    <a href="/"><img align="center" src="/img/logo_landing_mobile.png" class="img-fluid" height="300"></a>
    <p class="landing-header-text">El navegador legal de Honduras</p>
  </div>

  <div class="container container--landing">

    <br />

    <div class="row">
      <div class="col-sm-4 col-md-3 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= valid_url %>" style="padding:20px">
            <img class="landing-page-icon" src="/img/valid_icono.svg" />
            <h5 class="landing-card-title">Valid</h5>
            <p class="landing-card-text">Buscador de Decretos, Acuerdos y Gacetas.</p>
            <p class="count-text"><%= valid_gazettes_count %> gacetas</p>
            <p class="spacer">
            </p>
            <button type="button btn-lg" class="btn btn-danger landing-page-button">INICIAR BÚSQUEDA</button>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= home_path %>" style="padding:20px">
            <img class="landing-page-icon" src="/img/Icon-Todolegal-gray128px.svg" />
            <h5 class="landing-card-title">TodoLegal</h5>
            <p class="landing-card-text">Buscador de Leyes y Códigos.</p>
            <p class="count-text"><%= law_count %> leyes</p>
            <p class="spacer">
            </p>
            <button type="button btn-lg" class="btn btn-danger landing-page-button">INICIAR BÚSQUEDA</button>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= ley_abierta_url %>?tlclick=home" style="padding:20px" target="_blank">
            <img class="landing-page-icon" src="/img/ley_abierta_icon.svg" />
            <h5 class="landing-card-title">Ley Abierta</h5>
            <p class="landing-card-text">Artículos y podcast sobre temas legales de actualidad y relevancia.</p>
            <p class="count-text"></p>
            <button type="button btn-lg" class="btn btn-danger landing-page-button">INICIAR BÚSQUEDA</button>
          </a>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= libreria_todolegal_url %>?tlclick=home" style="padding:20px" target="_blank">
            <img class="landing-page-icon" src="/img/libreria_TL_negro.svg" />
            <h5 class="landing-card-title">La Librería</h5>
            <p class="landing-card-text">La librería dígital de Textos y Doctrina Jurídica más completa de Centroamérica.</p>
            <p class="count-text"></p>
            <button type="button btn-lg" class="btn btn-danger landing-page-button">INICIAR BÚSQUEDA</button>
          </a>
        </div>
      </div>
    </div>

  <%= render "mailchimp_form" %>


  </div>

</div>

<style>
  .landing-page{
    padding-top: 5%;
}

.container--landing {
    max-width: 1340px;
}

.landing-cards{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 6px 11px 17px #00000029;
    border: 1px solid #171F2A !important;
    height: 400px!important;
    opacity: 1;
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;    
}

.landing-cards:hover{
    border: 1px solid #FF5722 !important;
}

a:hover{
    text-decoration: none;
}

.landing-card-title{
    font: normal normal 900 32px/68px Poppins;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
    text-align: center;
    opacity: 1;
}

.landing-card-text{
    color: #22252C;
    font: normal normal normal 19px/25px Poppins;
    letter-spacing: 0px;
    margin-bottom: 0px;
    opacity: 1;
}

.landing-header-text{
    color: #22252C;
    font: normal normal 500 32px/58px Poppins;
    letter-spacing: 0px;
    margin-bottom: 0px;
    text-align: center;
    opacity: 1;
}

.landing-page-icon{
 height: 80px;
 width: auto;
}

.landing-page-button{
    background: #FF5722 0% 0% no-repeat padding-box !important;
    font: normal normal bold 14px/33px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    width: 100%
}

.spacer{
    padding-top: 6px;
}

.open-leyabierta-btn{
    background: #007bff 0% 0% no-repeat padding-box !important;
}

@media only screen and (max-width: 320px){
    .landing-cards{
        padding-top: 0px !important;
    }

    .spacer{
        padding-top: 0px;
    }
}

  /* Below tablets */
  @media only screen and (max-width: 767.98px){
    .landing-cards{
      height: 300px!important;
      padding: 0px;
    }

    .landing-page-icon{
      height: 50px;
      width: auto;
    }

    .landing-card-title{
      font-size: 27px;
      line-height: 33px
    }

    .landing-header-text{
      color: #22252C;
      font: normal normal 500 21px/45px Poppins;
      letter-spacing: 0px;
      margin-bottom: 0px;
      text-align: center;
      opacity: 1;
    }

    .spacer{
      padding-top: 0px;
    }
  }

  /* Tablets */

  @media only screen and (min-width: 575px) and (max-width: 1200px){
    .landing-cards{
      height: 300px!important;
      padding-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .landing-page-icon{
      height: 50px;
      width: auto;
    }

    .landing-card-title{
      font-size: 20px;
      line-height: 33px;
    }

    .landing-header-text{
      color: #22252C;
      font: normal normal 500 21px/45px Poppins;
      letter-spacing: 0px;
      margin-bottom: 0px;
      text-align: center;
      opacity: 1;
    }

    .landing-card-text{
      font: normal normal normal 13px/20px Poppins;
    }

    .landing-page-button{
      font: normal normal bold 10px/20px Poppins;
    }

    .landing-page{
      padding-top: 10%;
    }

    .count-text{
      font-size: 11px;
    }

    .spacer{
      padding-top: 0px;
    }
  }

</style>


