<div class="jumbotron d-none d-sm-block" style="padding-top: 0px; padding-bottom: 20px;background-color: #FFF;margin: 0px">
  <a href="/"><img align="center" src="/img/logo_landing.png" class="img-fluid" height="300"></a>
</div>

<div class="jumbotron d-block d-sm-none" style="padding-top: 0px; padding-bottom: 40px;background-color: #FFF;margin: 0px">
<a href="/"><img align="center" src="/img/logo_landing_mobile.png" class="img-fluid" height="300"></a>
</div>

<div class="container" style="padding-bottom: 150px;">

  <%= render 'search_law_input' %>

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-sm-6 col-md-4 py-2">
        <div class="card card-body h-100" style="padding:0px">
          <a href="/tags/<%= tag.id %>" style="padding:20px">
            <h5 class="card-title"><%= tag.name %></h5>
            <p><%= tag.laws.count %> leyes</p>
          </a>
        </div>
      </div>
    <% end %>
  </div>

  <p class="myinfo"><%= Law.count %> leyes en total</p>

</div>
