<% content_for :title, "TodoLegal - El buscador de leyes de Honduras" %>

<div class="landing-page">
  <div class="jumbotron d-none d-sm-block" align="center"
    style="padding-top: 0px; padding-bottom: 5px;background-color: #EFF3F8;margin: 0px">
    <a href="/"><img align="center" src="/img/logo_landing_mobile.png" class="img-fluid-vertical" height="300"></a>
    <p class="landing-header-text">El navegador legal de Honduras</p>
  </div>

  <div class="jumbotron d-block d-sm-none"
    style="padding-top: 0px; padding-bottom: 0px;background-color: #EFF3F8;margin: 0px">
    <a href="/"><img align="center" src="/img/logo_landing_mobile.png" class="img-fluid" height="300"></a>
    <p class="landing-header-text">El navegador legal de Honduras</p>
  </div>

  <div class="container container--home">

    <br />

    <div class="row">
      <div class="col-sm-6 col-md-4 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= google_drive_search_path %>" style="padding:20px">
            <img class="landing-page-icon" src="/img/valid_icono.svg" />
            <h5 class="landing-card-title">Valid</h5>
            <p class="landing-card-text">Buscador de Decretos, Acuerdos y Gacetas.</p>
            <p class="count-text"><%= valid_gazettes_count %> gacetas</p>
            <button type="button btn-lg" class="btn btn-danger landing-page-button">INICIAR BÚSQUEDA</button>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= home_path %>" style="padding:20px">
            <img class="landing-page-icon" src="/img/Icon-Todolegal-gray128px.svg" />
            <h5 class="landing-card-title">TodoLegal</h5>
            <p class="landing-card-text">Buscador de Leyes y Códigos.</p>
            <p class="count-text"><%= law_count %> leyes</p>
            <button type="button btn-lg" class="btn btn-danger landing-page-button">INICIAR BÚSQUEDA</button>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 py-2">
        <div class="card card-body h-100 card-with-border landing-cards" style="padding:0px">
          <a class="" href="<%= ley_abierta_url %>?tlclick=home" style="padding:20px" target="_blank">
            <img class="landing-page-icon" src="/img/ley_abierta_icon.svg" />
            <h5 class="landing-card-title">Ley Abierta</h5>
            <p class="landing-card-text">Artículos y podcast sobre temas legales de actualidad y relevancia.</p>
            <p class="count-text"></p>
            <button type="button btn-lg" class="btn btn-primary landing-page-button open-leyabierta-btn">ABRIR REVISTA</button>
          </a>
        </div>
      </div>
    </div>

  <%= render "mailchimp_form" %>
  </br>

  </div>

</div>


