<div class="jumbotron">
<h1 class="display-4">Buscando leyes</h1>
</div>

<div class="container">
<p id="notice"><%= notice %></p>

<%= render 'search_law_input' %>

<div class="row">
  <% @laws.each do |law| %>
    <div class="col-4 py-2">
      <div class="card card-body h-100" >
        <h5 class="card-title"><%= law.name %></h5>
        <%= link_to 'Ver ley', law, class: 'card-link' %>
      </div>
    </div>
  <% end %>
</div>

<p>Busqueda realizada en <%= Article.count %> artículos</p>

<div class="row">
  <% @grouped_laws.each do |grouped_law| %>
    <div class="col-4 py-2">
      <div class="card card-body h-100" >
        <h5 class="card-title"><%= grouped_law[:law].name %></h5>
        <p>
          <%= grouped_law[:count] %>
          <% if grouped_law[:count] == 1 %>
            artículo relacionado
          <% else %>
            artículos relacionados
          <% end %>
        </p>
        <%= link_to 'Ver ley', '/laws/'+grouped_law[:law].id.to_s+'?query='+@query, class: 'card-link' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Ir a inicio', root_path %>

</div>