<div class="jumbotron d-none d-sm-block" style="padding-top: 0px; padding-bottom: 20px;background-color: #FFF;margin: 0px">
  <a href="/"><img align="center" src="/img/logo_header.png" class="img-fluid" height="300"></a>
</div>

<div class="jumbotron d-block d-sm-none" style="padding-top: 0px; padding-bottom: 40px;background-color: #FFF;margin: 0px">
  <a href="/"><img align="center" src="/img/logo_landing_mobile.png" class="img-fluid" height="300"></a>
</div>

<div class="container">
<p id="notice"><%= notice %></p>

<%= render 'search_law_input' %>

<p class="myinfo"><%= number_with_delimiter(@result_count, :delimiter => ',') %> resultados encontrados</p>

<% if @laws.size > 0 %>
  <h2>Leyes</h2>
<% end %>

<div class="row">
  <% @laws.each do |law| %>
    <div class="col-sm-6 col-md-4 py-2">
      <div class="card card-body h-100" style="padding:0px">
        <a class="uncolored_link" href="<%= law_path(law) %>" style="padding:20px">
          <h5 class="card-title"><%= law.name %></h5>
          <p><%= law.creation_number %></p>
        </a>
      </div>
    </div>
  <% end %>
</div>

<hr>

<% if @grouped_laws.size > 0 %>
  <h2>Resultados específicos</h2>
<% end %>

<div class="row">
  <% @grouped_laws.each do |grouped_law| %>
    <div class="col-sm-6 col-md-4 py-2">
      <div class="card card-body h-100" style="padding:0px">
        <a class="uncolored_link" href="<%= law_path(grouped_law[:law]) + '?query='+@query %>" style="padding:20px">
          <h5 class="card-title"><%= grouped_law[:law].name %></h5>
          <p><%= grouped_law[:law].creation_number %></p>
          <p>
            <%= grouped_law[:count] %>
            <% if grouped_law[:count] == 1 %>
              artículo relacionado
            <% else %>
              artículos relacionados
            <% end %>
          </p>
        </a>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Ir a inicio', root_path %>

</div>