<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<p>
  <strong>Law:</strong>
  <%= @section.law_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
