<section class="document-relationships-section">
  <h4>Relaciones del Documento</h4>
  
  <div class="row">
    <div class="col-md-12">
      <%= turbo_frame_tag "autosave_flash_relationships" %>
    </div>
  </div>

  <%= turbo_frame_tag "document_relationships_section" do %>
    <div class="card">
      <div class="card-body">
        
        <!-- Display existing relationships -->
        <%= render 'documents/relationships/existing_relationships', document: document %>

        <!-- Add new relationship forms -->
        <div class="add-relationship">
          <%= render 'documents/relationships/document_form', document: document %>
          <%= render 'documents/relationships/law_form', document: document %>
        </div>
      </div>
    </div>
  <% end %>
</section>
