 <div class="card">
    <div class="card-body">

    <%= form_with(model: document, local: true) do |form| %>
      <% if document.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

          <ul>
            <% document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :tipo_de_Documento %>
            <%= form.select :document_type_id, options_for_select(DocumentType.all.map{ |dt| [dt.name, dt.id] }, @document.document_type_id), {}, { class: "form-control", id: "documentType" } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :documento_Publicado %>
            <%= form.select :publish, options_for_select([['Sí', true], ['No', false]], @document.publish), {}, { class: "form-control", id: "publish" } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if document.document_type.name == "Sentencia" %>
              <%= form.label :número_de_expediente %>
            <% else %>
              <%= form.label :identificador_de_Emisión %>
            <% end %>
            <%= form.text_field :issue_id, class: "form-control", maxlength: "50",
                onkeyup:"charCountUpdate(this.value, 'identifier', 50)" %>
            <small id="identifier">0 de 50 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if document.document_type.name == "Sentencia" %>
              <%= form.label :número_de_expediente %>
            <% else %>
              <%= form.label :identificador_de_Emisión_Alternativo %>
            <% end %>
            <%= form.text_field :alternative_issue_id, class: "form-control", maxlength: "50",
                onkeyup:"charCountUpdate(this.value, 'alt_identifier', 50)" %>
            <small id="alt_identifier">0 de 50 caracteres</small>
          </div>
        </div>
      </div>

       <div class="row">
        
      </div>

       <div class="row">

        <div class="form-group col-md-4">
          <div class="form-group">
            <%= form.label :status %>
            <%= form.select :status,  options_for_select(['Derogado', 'Vigente', 'Reformado'], document.status), { prompt: 'Selecciona status' }, class: 'form-control mr-2' %>
          </div>
        </div>
        
        <div class="form-group col-md-4">
          <div class="form-group">
            <%= form.label :jararquía %>
            <%= form.select :hierarchy,  options_for_select(['Constitucional', 'Tratados Internacionales', 'Leyes Primarias', 'Leyes Secundarias'], document.hierarchy), { prompt: 'Selecciona jerarquía' }, class: 'form-control' %>
          </div>
        </div>

      </div>

      <!-- TODO: Should we remove applicable_laws from database? -->
      <% if false && document.document_type.name == "Sentencia" and document.judgement_auxiliary %>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :relación_normativa %>
            <%= form.text_field :applicable_laws, value: document.judgement_auxiliary.applicable_laws, class: "form-control", maxlength: "50",
                onkeyup:"charCountUpdate(this.value, 'identifier', 50)" %>
            <small id="identifier">0 de 50 caracteres</small>
          </div>
        </div>
      </div>
      <% end %>

      <% if document.document_type.name != "Sentencia" %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <%= form.label :nombre %>
              <%= form.text_field :name, class: "form-control", maxlength: "100",
                  onkeyup:"charCountUpdate(this.value, 'name', 100)" %>
              <small id="name">0 de 100 caracteres</small>
            </div>
          </div>
        </div>
      <% end %>


      <div class="row">

        <div class="form-group col-md-4">
          <%= form.label :fecha_de_publicación %>
          <div class="form-inline">
            <%= form.date_select :publication_date, {:order => [:day, :month, :year],
              start_year: Date.current.year - 122, # Start from 1900 (current year - 122)
              end_year: Date.current.year },  
              {:class => 'form-control mr-2'} 
            %>
          </div>
        </div>
        
        <% if document.document_type.name != "Sentencia" && document.document_type.name != "Auto Acordado" && document.document_type.name != "Formato" && document.document_type.name != "Otro"%>
          <div class="form-group col-md-4">
            <%= form.label :número_de_gaceta %>
            <%= form.text_field :publication_number, class: "form-control", disabled:true, id:"gazetteNumber" %>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="inputSwitch" onclick="toggleEdition()">
              <label class="custom-control-label" for="inputSwitch">Habilitar edición</label>
            </div>
          </div>
        <% end %>

      </div>
      
      <div class="row">
        <div class="col-md-2">
          <% if document.end_page %>
            <label> 
              <strong>Páginas incluídas </strong> 
              <span class="badge bg-primary document--pages"> <%= document.start_page + 1 %>-<%= document.end_page + 1 %> </span>
            </label>
          <% end %>
        </div>
          <div class="form-group col-md-4">
          <% if (document.document_type.name != "Sentencia" && document.document_type.name != "Auto Acordado" && document.document_type.name != "Formato" && document.document_type.name != "Otro") and document.position %>
            <label class="d-inline"> <strong> Posición en Gaceta </strong> </label>
            <nav aria-label="...">
              <ul class="pagination pagination-sm">
                <% for i in 1..@documents_count %>
                  <% if i === document.position + 1 %>
                    <li class="page-item active" aria-current="page">
                      <span class="page-link"><%= i %></span>
                    </li>
                  <% elsif i === document.position && @is_previous_document_valid %>
                    <li class="page-item" aria-current="page">
                      <%= link_to "#{i}", edit_document_path(@previous_document), class:"page-link " %>
                    </li>
                  <% elsif i === document.position + 2 && @is_next_document_valid %>
                    <li class="page-item" aria-current="page">
                      <%= link_to "#{i}", edit_document_path(@next_document), class:"page-link " %>
                    </li>
                  <% else %>
                    <li class="page-item" aria-current="page">
                      <span class="page-link"><%= i %></span>
                    </li>
                  <% end %>
                  
                <% end %>
            </nav>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if document.document_type.name == "Sentencia" %>
              <%= form.label :objeto_de_la_demanda %>
            <% else %>
              <%= form.label :descripción_corta %>
            <% end %>
            <%= form.text_area :short_description, class: "form-control", maxlength: "250", 
                onkeyup:"charCountUpdate(this.value, 'shortDescription', 250)" %>
            <small id="shortDescription">0 de 250 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if document.document_type.name == "Sentencia" %>
              <%= form.label :fundamentos_del_derecho %>
            <% else %>
              <%= form.label :descripcion_larga %>
            <% end %>
            <%= form.label :descripcion_larga %>
            <%= form.text_area :description, class: "form-control", maxlength: "1250",
                onkeyup:"charCountUpdate(this.value, 'longDescription', 1250)" %>
            <small id="longDescription">0 de 1250 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :original_file %>
            <%= form.file_field :original_file, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-md-5">
            <%= form.submit "Guardar cambios", class: "d-inline p-2 btn btn-primary" %>
            <% if document.document_type.name == "Sentencia" %>
              <%= form.submit "Subir nueva sentencia", class: "d-inline p-2 btn btn-outline-secondary" %>
            <% else %>
              <% if @is_next_document_valid && (@redirect_url == nil) %>
                <%= form.submit "Guardar y siguiente", class: "d-inline p-2 btn btn-outline-secondary" %>
              <% elsif @redirect_url %>
                <%= form.submit "Guardar y regresar a PIIL", class: "d-inline p-2 btn btn-outline-secondary" %>
              <% else %>
                <a type="button" class="d-inline p-2 btn btn-outline-secondary" disabled="true">Guardar y siguiente</a>
              <% end %>
            <% end %>
            <%= button_to [@document], method: :delete, data: { confirm: '¿Estás Seguro que deseas eliminarlo?' }, class:"d-inline ml-4 btn btn-outline-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
    <% end %> 
          <div class="col-md-3">
            <% if @document.original_file.attached? %>
              <%= button_to(url_for(@document.original_file), {class:"btn btn-link", method: :get}) do %>
                Descargar archivo
              <% end %>
            <% end %>
          </div>
        </div>
      </div> 
  </div>
</div>


<script>
  function toggleEdition(){
    const enabled = document.getElementById("inputSwitch").checked;
    const textInput = document.getElementById("gazetteNumber").disabled = !enabled;
  }

  function charCountUpdate(str, elementId, maxLength){
    const element = document.getElementById( elementId );
    element.innerHTML= str.length + ' de ' + maxLength + ' caracteres'; 
  }
</script>

<style>
  .custom-control-label{
    font-weight: normal!important;
    color: #696c6f!important;
  }

  .document--pages{
    color: white;
    display: block;
    font-size: 1rem;
    padding: 5px;
  }

  .see--document--btn{
    align-self: center;
  }

</style>
