 <div class="card">
    <div class="card-body">

    <%= form_with(model: document, data: {
      controller: "document-autosave document-form-validator",
      autosave_delay: "500",
      document_type: @document_type,
      action: "submit->document-form-validator#validate"  
    }) do |form| %>
      <% if document.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

          <ul>
            <% document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :tipo_de_Documento %>
            <%= form.select :document_type_id, options_for_select(DocumentType.all.map{ |dt| [dt.name, dt.id] }, @document.document_type_id), {}, { class: "form-control", id: "documentType" } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :documento_Publicado %>
            <%= form.select :publish, options_for_select([['Sí', true], ['No', false]], @document.publish), {}, { class: "form-control", id: "publish" } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if @document_type == "Sentencia" %>
              <%= form.label :número_de_expediente %>
            <% else %>
              <%= form.label :identificador_de_Emisión %>
            <% end %>
            <%= form.text_field :issue_id, class: "form-control", maxlength: "50",
                data: { document_form_validator_target: "issueId" },
                onkeyup:"charCountUpdate(this.value, 'identifier', 50)" 
            %>
            <small id="identifier">0 de 50 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if @document_type == "Sentencia" %>
              <%= form.label :número_de_expediente %>
            <% else %>
              <%= form.label :identificador_de_Emisión_Alternativo %>
            <% end %>
            <%= form.text_field :alternative_issue_id, class: "form-control", maxlength: "50",
                onkeyup:"charCountUpdate(this.value, 'alt_identifier', 50)" %>
            <small id="alt_identifier">0 de 50 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-4">
          <div class="form-group">
            <%= form.label :status %>
            <%= form.select :status,  
                options_for_select(['derogado', 'vigente', 'reformado'], document.status), 
                { prompt: 'Selecciona status' }, 
                class: 'form-control mr-2', 
                data: { document_form_validator_target: "status" }
            %>
          </div>
        </div>
        
        <div class="form-group col-md-4">
          <div class="form-group">
            <%= form.label :jararquía %>
            <%= form.select :hierarchy, 
                options_for_select(['Constitucional', 'Tratados Internacionales', 'Leyes Primarias', 'Leyes Secundarias'], document.hierarchy), 
                { prompt: 'Selecciona jerarquía' }, 
                class: 'form-control',
                data: { document_form_validator_target: "hierarchy" }
            %>
          </div>
        </div>

      </div>

      <!-- TODO: Should we remove applicable_laws from database? -->
      <% if false && @document_type == "Sentencia" and document.judgement_auxiliary %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <%= form.label :relación_normativa %>
              <%= form.text_field :applicable_laws, value: document.judgement_auxiliary.applicable_laws, class: "form-control", maxlength: "50",
                  onkeyup:"charCountUpdate(this.value, 'identifier', 50)" %>
              <small id="identifier">0 de 50 caracteres</small>
            </div>
          </div>
        </div>
      <% end %>

      <% if @document_type != "Sentencia" %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <%= form.label :nombre %>
              <%= form.text_field :name, class: "form-control", maxlength: "100",
                  data: { document_form_validator_target: "name" },
                  onkeyup:"charCountUpdate(this.value, 'name', 100)" 
                %>
              <small id="name">0 de 100 caracteres</small>
            </div>
          </div>
        </div>
      <% end %>


      <div class="row">

        <div class="form-group col-md-4">
          <%= form.label :fecha_de_publicación %>
          <div class="form-inline">
            <%= form.date_select :publication_date, {:order => [:day, :month, :year],
              start_year: Date.current.year - 122, # Start from 1900 (current year - 122)
              end_year: Date.current.year },  
              {:class => 'form-control mr-2'} 
            %>
          </div>
        </div>
        
        <% if @document_type != "Sentencia" && @document_type != "Auto Acordado" && @document_type != "Formato" && @document_type != "Otro"%>
          <div class="form-group col-md-4">
            <%= form.label :número_de_gaceta %>
            <%= form.text_field :publication_number, class: "form-control", 
              disabled:true, 
              id:"gazetteNumber", 
              data: { document_form_validator_target: "publicationNumber" }
            %>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="inputSwitch" onclick="toggleEdition()">
              <label class="custom-control-label" for="inputSwitch">Habilitar edición</label>
            </div>
          </div>
        <% end %>

      </div>
      
      <div class="row">
        <div class="col-md-2">
          <% if document.end_page %>
            <label> 
              <strong>Páginas incluídas </strong> 
              <span class="badge bg-primary document--pages"> <%= document.start_page + 1 %>-<%= document.end_page + 1 %> </span>
            </label>
          <% end %>
        </div>
          <div class="form-group col-md-4">
          <% if (@document_type != "Sentencia" && @document_type != "Auto Acordado" && @document_type != "Formato" && @document_type != "Otro") and document.position %>
            <label class="d-inline"> <strong> Posición en Gaceta </strong> </label>
            <nav aria-label="...">
              <ul class="pagination pagination-sm">
                <% for i in 1..@documents_count %>
                  <% if i === document.position + 1 %>
                    <li class="page-item active" aria-current="page">
                      <span class="page-link"><%= i %></span>
                    </li>
                  <% elsif i === document.position && @is_previous_document_valid %>
                    <li class="page-item" aria-current="page">
                      <%= link_to "#{i}", edit_document_path(@previous_document), class:"page-link " %>
                    </li>
                  <% elsif i === document.position + 2 && @is_next_document_valid %>
                    <li class="page-item" aria-current="page">
                      <%= link_to "#{i}", edit_document_path(@next_document), class:"page-link " %>
                    </li>
                  <% else %>
                    <li class="page-item" aria-current="page">
                      <span class="page-link"><%= i %></span>
                    </li>
                  <% end %>
                  
                <% end %>
            </nav>
          <% end %>
        </div>
      </div>

      <% unless @document_type == "Circular CNBS" %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <% if @document_type == "Sentencia" %>
                <%= form.label :objeto_de_la_demanda %>
              <% else %>
                <%= form.label :descripción_corta %>
              <% end %>
              <%= form.text_area :short_description, class: "form-control", maxlength: "250", 
                  data: { action: "keyup->document-autosave#save", document_form_validator_target: "shortDescription" },
                  onkeyup: "charCountUpdate(this.value, 'shortDescription', 250)" 
              %>
              <small id="shortDescription">0 de 250 caracteres</small>
            </div>
          </div>
        </div>
      <% end %>
      
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <% if @document_type == "Sentencia" %>
              <%= form.label :fundamentos_del_derecho %>
            <% elsif @document_type == "Circular CNBS"%>
              <%= form.label :descripción %>
            <% else %>
              <%= form.label :descripcion_larga %>
            <% end %>
            <%= form.text_area :description, class: "form-control", maxlength: "1250",
                data: { action: "keyup->document-autosave#save", document_form_validator_target: "description" },
                onkeyup:"charCountUpdate(this.value, 'longDescription', 1250)" %>
            <small id="longDescription">0 de 1250 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :original_file %>
            <%= form.file_field :original_file, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= turbo_frame_tag "autosave_flash_document" %>
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-md-5">
            <%= form.submit "Guardar cambios", class: "d-inline p-2 btn btn-primary" %>
            <% if @document_type == "Sentencia" %>
              <%= form.submit "Subir nueva sentencia", class: "d-inline p-2 btn btn-outline-secondary" %>
            <% else %>
              <% if @is_next_document_valid && (@redirect_url == nil) %>
                <%= form.submit "Guardar y siguiente", class: "d-inline p-2 btn btn-outline-secondary" %>
              <% elsif @redirect_url %>
                <%= form.submit "Guardar y regresar a PIIL", class: "d-inline p-2 btn btn-outline-secondary" %>
              <% else %>
                <button type="button" class="d-inline p-2 btn btn-outline-secondary" disabled="true">Guardar y siguiente</button>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-3 btns-section">
            <% if @document.original_file.attached? %>
              <%= link_to "Descargar archivo", url_for(@document.original_file), {class:"btn btn-link download-btn", method: :get} %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12 btns-section mt-3 d-flex align-items-center">
        <label class="mb-0" for="delete-document-btn"><strong>Eliminar documento</strong></label>
        <%= button_to [@document], 
                      method: :delete, 
                      data: { turbo_confirm: '¿Estás seguro que deseas eliminar este documento?' }, 
                      class:"delete-document-btn ml-4 btn btn-outline-danger", 
                      id: "delete-document-btn" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  function toggleEdition(){
    const enabled = document.getElementById("inputSwitch").checked;
    const textInput = document.getElementById("gazetteNumber").disabled = !enabled;
  }

  function charCountUpdate(str, elementId, maxLength){
    const element = document.getElementById( elementId );
    element.innerHTML= str.length + ' de ' + maxLength + ' caracteres'; 
  }

  //paste text without formatting and replace new lines with space
  document.querySelectorAll('textarea').forEach(function(textarea) {
  textarea.addEventListener('paste', function(e) {
    e.preventDefault();
    var text = e.clipboardData.getData('text/plain');
    text = text.replace(/\r?\n|\r/g, " "); // replace new lines with space

    // Check if pasting the text will exceed the maximum length
    var maxLength = textarea.getAttribute('maxlength');
    if (maxLength && textarea.value.length + text.length > maxLength) {
      // If it will, truncate the text to the maximum length
      text = text.substring(0, maxLength - textarea.value.length);
    }

    var start = textarea.selectionStart;
    var end = textarea.selectionEnd;
    textarea.value = textarea.value.substring(0, start) + text + textarea.value.substring(end);
    textarea.selectionStart = textarea.selectionEnd = start + text.length;
  });
});
  
</script>

<style>
  .custom-control-label{
    font-weight: normal!important;
    color: #696c6f!important;
  }

  .btns-section .button_to{
    display: inline-block !important;
  }

  .document--pages{
    color: white;
    display: block;
    font-size: 1rem;
    padding: 5px;
  }

  .see--document--btn{
    align-self: center;
  }

</style>
