<section class="tags--section">
        
    <% if @document_type == "Avisos Legales" %>
        <h4> Tema </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "tema", issuer: false}%>
        <h4> Forma de Publicación </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Forma de Publicación", issuer: false}%>
    <% elsif @document_type == "Marcas de Fábrica" %>
        <h4> Tema </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "tema", issuer: false}%>
        <h4> Materia </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "materia", issuer: false}%>
        <h4> Forma de Publicación </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Forma de Publicación", issuer: false}%>
    <% elsif  @document_type == "Gaceta" %>
        <h4> Forma de Publicación </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Forma de Publicación", issuer: false}%>
        <h4> Institución emisora </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Institución", issuer: true}%>
    <% else %>
        <h4> Materia </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "materia", issuer: false}%>
        <h4> Forma de Publicación </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Forma de Publicación", issuer: false}%>
        <h4> Institución emisora </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Institución", issuer: true}%>
        <h4> Tipo de Acto </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Tipo de Acto", issuer: false}%>
        <h4> Tema </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "tema", issuer: false}%>
        <h4> Instituciones relacionadas </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "Institución", issuer: false}%>
    <% end %>
    
</section>



<script>
    $('.js-example-basic-single').select2();
    $(".js-example-tags").select2({
        tags: true
    });
</script>


<style>
    .tags--section{
        margin-top: 15px;
    }
    
    .select2{
        width:100% !important;
    }

    .table{
        background-color: white;
    }
</style>
