<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :identificador_de_Emisión %>
            <%= form.text_field :name, class: "form-control", maxlength: "50",
                onkeyup:"charCountUpdate(this.value, 'identifier', 50)" %>
            <small id="identifier">0 de 50 caracteres</small>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="form-group col-md-4">
          <%= form.label :fecha_de_publicación %>
          <div class="form-inline">
            <%= form.date_select :publication_date, {:order => [:day, :month, :year]}, {:class => 'form-control mr-2'} %>
          </div>
        </div>
        
        <div class="form-group col-md-4">
          <%= form.label :número_de_gaceta %> 
          <%= form.text_field :publication_number, class: "form-control", disabled:true, id:"gazetteNumber" %>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="inputSwitch" onclick="toggleEdition()">
            <label class="custom-control-label" for="inputSwitch">Habilitar edición</label>
          </div>
        </div>

      </div>
      
      <div class="row">
        <div class="col-md-2">
          <% if document.end_page %>
            <label> 
              <strong>Páginas incluídas </strong> 
              <span class="badge bg-primary document--pages"> <%= document.start_page + 1 %>-<%= document.end_page + 1 %> </span>
            </label>
          <% end %>
        </div>
        <div class="col-md-3 see--document--btn">
          <%= link_to 'Ver documento', document, class:"btn btn-outline-secondary"%>
        </div>
        <div class="col-md-4">
          <label class="d-inline"> <strong> Posición en Gaceta </strong> </label>
          <% if document.position %>
            <nav aria-label="...">
              <ul class="pagination pagination-sm">
                <% for i in 1..@documents_count %>
                  <% if i === document.position + 1 %>
                    <li class="page-item active" aria-current="page">
                      <span class="page-link"><%= i %></span>
                    </li>
                  <% elsif i === document.position && @is_previous_document_valid %>
                    <li class="page-item" aria-current="page">
                      <%= link_to "#{i}", edit_document_path(@previous_document), class:"page-link " %>
                    </li>
                  <% elsif i === document.position + 2 && @is_next_document_valid %>
                    <li class="page-item" aria-current="page">
                      <%= link_to "#{i}", edit_document_path(@next_document), class:"page-link " %>
                    </li>
                  <% else %>
                    <li class="page-item" aria-current="page">
                      <span class="page-link"><%= i %></span>
                    </li>
                  <% end %>
                  
                <% end %>
            </nav>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :descripción_corta %>
            <%= form.text_area :short_description, class: "form-control", maxlength: "250", 
                onkeyup:"charCountUpdate(this.value, 'shortDescription', 250)" %>
            <small id="shortDescription">0 de 250 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :descripcion_larga %>
            <%= form.text_area :description, class: "form-control", maxlength: "1250",
                onkeyup:"charCountUpdate(this.value, 'longDescription', 1250)" %>
            <small id="longDescription">0 de 1250 caracteres</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= form.label :original_file %>
            <%= form.file_field :original_file, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-md-5">
            <%= form.submit "Guardar cambios", class: "d-inline p-2 btn btn-primary" %>
            <% if @is_next_document_valid %>
              <%=link_to "Guardar y siguiente", update_and_next_path(@next_document), class: "d-inline p-2 btn btn-secondary" %>
            <% else %>
              <button type="button" class="d-inline p-2 btn btn-secondary" disabled="true">Guardar y siguiente</button>
            <% end %>
          </div>
          <div class="col-md-3">
            <% if @document.original_file.attached? %>
              <%= button_to(@document.original_file, {class:"btn btn-outline-primary", method: :get}) do %>
                Descargar archivo
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<script>
  function toggleEdition(){
    const enabled = document.getElementById("inputSwitch").checked;
    const textInput = document.getElementById("gazetteNumber").disabled = !enabled;
  }

  function charCountUpdate(str, elementId, maxLength){
    const element = document.getElementById( elementId );
    element.innerHTML= str.length + ' de ' + maxLength + ' caracteres'; 
  }
</script>

<style>
  .custom-control-label{
    font-weight: normal!important;
    color: #696c6f!important;
  }

  .document--pages{
    color: white;
    display: block;
    font-size: 1rem;
    padding: 5px;
  }

  .see--document--btn{
    align-self: center;
  }

</style>
