<table class="table table-sm"">
  <thead>
    <tr>
      <th class="table--headers" scope="col">Título</th>
      <th class="table--headers"scope="col">Fecha de publicación</th>
      <th class="table--headers"scope="col">Número de publicación</th>
       <th class="table--headers"scope="col">Fecha de subida</th>
       <th class="table--headers"scope="col">Hora de subida</th>
      <th class="acciones--tableHeader" scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% documents.each do |document| %>
        <tr>
            <td>
                <%= get_document_title(document) %>
            </td>
            <td>
                <%= document.publication_date %>
            </td>
            <td> 
                <%= document.publication_number %>
            </td>
            <td>
                <%= document.created_at.strftime("%Y-%m-%d") %>
            </td>
            <td>
                <%= document.created_at.strftime("%H:%M:%S") %>
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <%=button_to document, method: :get, class:"btn btn-outline-primary" do %>
                        <i class="far fa-eye"></i>
                    <% end %>
                    <%= button_to(edit_document_path(document), {class:"btn btn-outline-secondary", method: :get }) do %>
                        <i class="fas fa-edit"></i>
                    <% end %>
                    <%= button_to document, method: :delete, data: { confirm: '¿Estás Seguro que deseas eliminarlo?' }, class:"btn btn-outline-danger" do %>
                        <i class="fas fa-trash-alt"></i>
                    <% end %>
                </div>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>

<style>
    tr:hover {background-color:#c8ced4;}
</style>