<section class="tags--section">
        
    <% if @document_type == "Avisos Legales" %>
        <h4> Tema </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "tema"}%>
    <% elsif @document_type == "Marcas de Fábrica" %>
        <h4> Tema </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "tema"}%>
        <h4> Materia </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "materia"}%>
    <% elsif  @document_type == "Gaceta Completa" %>
        <h4> Instituciones </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "institucion"}%>
    <% else %>

        <h4> Tema </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "tema"}%>
        <h4> Materia </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "materia"}%>
        <h4> Instituciones </h4>
        <%= render partial:'edit_tag_table', locals: {tag_name: "institucion"}%>
    <% end %>
    
</section>



<script>
    $('.js-example-basic-single').select2();
    $(".js-example-tags").select2({
        tags: true
    });
</script>


<style>
    .tags--section{
        margin-top: 15px;
    }
    
    .select2{
        width:100% !important;
    }

    .table{
        background-color: white;
    }
</style>
