<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="field">
    <% if @selected_document_type == "process" %>
      <h4> Gaceta completa </h4>
    <% elsif @selected_document_type == "judgement"%>
      <h4> Sentencia </h4>
    <% elsif @selected_document_type == "slice"%>
      <h4> Procesar y partir Gaceta </h4>
    <% elsif @selected_document_type == "avisos" %>
      <h4> Avisos Legales </h4>
    <% elsif @selected_document_type == "marcas"%>
      <h4> Marcas de Fábrica </h4>
    <% elsif @selected_document_type == "seccion" %>
      <h4> Sección de Gaceta </h4>
    <% else %>
      <h4> Ninguno </h4>
    <% end %>

    <input type="hidden" id="hiddenField" name="document[auto_process_type]" value="<%= @selected_document_type %>">
  </div>
  
  <div class="field">
    <%= form.file_field :original_file %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Subir", class: 'btn btn-primary' %>
  </div>
<% end %>