<%= javascript_import_module_tag 'application', 'data-turbo-track': 'reload' %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>
    <% if @last_24_hours.present? %>
      <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, "https://piil.todolegal.app" %>
    <% end %>
    <% if @show_only_judgements %>
      Sentencias
    <% else %>
      Documentos
    <% end %>
  </h1>
  <%if current_user_is_admin %>
    <%= render "batch_statistics_table" %>
    <div class="row">
      <div class="col-4">
        <form action="/documents/process_documents_batch" method="post">
          <div class="form-inline">
            <button type="submit" class="btn btn-primary">Procesar batch de documentos</button>
          </div>
        </form>
      </div>
      <div class="col-3">
        <form action="/documents/process_cnbs_batch" method="post">
          <div class="form-inline">
            <button type="submit" class="btn btn-success">Procesar batch CNBS</button>
          </div>
        </form>
      </div>
    </div>
  
    </form>
    <%= content_tag(:p, "Documentos procesados en este batch: #{@processed_documents}") if @processed_documents.present? %>
    <hr/>
  <% end %>
  <div class="row justify-content-end">
    <div class="col-6">
      <form action="<%= documents_path %>" method="get">
        <div class="input-group">
          <input name="query"  class="form-control search-input" value="<%= @query %>" type="text" placeholder="" aria-describedby="buttonSubmit">
          <button type="submit" class="btn btn-outline-primary" id="buttonSubmit">Buscar</button>
        </div>
      </form>
    </div>
  </div>
    
  <% if @show_only_autos %>
    <%= link_to 'Subir documento', new_document_path(selected_document_type: "autos") %>
  <% else %>
    <%= link_to 'Subir documento', new_document_path(selected_document_type: "slice") %>
  <% end %>
  <%= render partial:'edit_table', locals: {documents: @documents}%>

  <%=paginate @documents %>
  <br>
</div>

<style>
  .search-input{
    background-color: white;
  }

  .search-input:focus{
    background-color: white;
  }
</style>
