<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <% if @show_only_judgements %>
    <h1>Sentencias</h1>
  <% else %>
    <h1>Documentos</h1>
  <% end %>
  <div class="row justify-content-end">
    <div class="col-6">
      <form action="<%= documents_path %>" method="get">
        <div class="input-group">
          <input name="query"  class="form-control search-input" value="<%= @query %>" type="text" placeholder="" aria-describedby="buttonSubmit">
          <button type="submit" class="btn btn-outline-primary" id="buttonSubmit">Buscar</button>
        </div>
      </form>
    </div>
  </div>

  <% if @show_only_autos %>
    <%= link_to 'Subir documento', new_document_path(selected_document_type: "autos") %>
  <% else %>
    <%= link_to 'Subir documento', new_document_path(selected_document_type: "slice") %>
  <% end %>
  <%= render partial:'edit_table', locals: {documents: @documents}%>

  <%=paginate @documents %>
  <br>
</div>

<style>
  .search-input{
    background-color: white;
  }

  .search-input:focus{
    background-color: white;
  }
</style>
