<div class="container">
  <p id="notice"><%= notice %></p>

  <%confirm = false%>
  <script>
    function myFunction() {
    confirm = confirm("¿Seguro que lo desea eliminar?");
    }
  </script>

  <p>
    <strong>Url:</strong>
    <%= @document.url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @document.name %>
  </p>

  <p>
    <strong>Publication Date:</strong>
    <%= @document.publication_date %>
  </p>

  <p>
    <strong>Publication Number:</strong>
    <%= @document.publication_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @document.description %>
  </p>


  <p>
    <strong>Tags:</strong>
  </p>
  <p>
    <% if @document.original_file.attached? %>
      <%= link_to "Descargar", @document.original_file %>
    <% end %>
  </p>

  <ul>
    <% @document.tags.each do |tag| %>
      <li>
        <%= tag.name %> (<%= tag.tag_type.name %>)
      </li>
    <% end %>
  </ul>

  <ul>
    <% @json_data["files"].each do |file| %>
      <li>
        <%= link_to file['name'], "/gazettes/" + @document.id.to_s + "/" + file['path'] %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Edit', edit_document_path(@document) %> |
  <%= link_to 'Back', documents_path %>
</div>