<div class="container">
  <p id="notice"><%= notice %></p>

  <%confirm = false%>
  <script>
    function myFunction() {
    confirm = confirm("¿Seguro que lo desea eliminar?");
    }
  </script>

  <p>
    <strong>Name:</strong>
    <%= @document.name %>
  </p>

  <p>
    <strong>Publication Date:</strong>
    <%= @document.publication_date %>
  </p>

  <p>
    <strong>Publication Number:</strong>
    <%= @document.publication_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @document.description %>
  </p>

  <p>
    <strong>Otros documentos de la misma gaceta:</strong>
  </p>
  <ul>
    <% if @documents_in_same_gazette %>
      <% @documents_in_same_gazette.each do |document| %>
        <li>
          <%= link_to document.name, document %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p>
    <strong>Tags:</strong>
  </p>
  <ul>
    <% @document.tags.each do |tag| %>
      <li>
        <%= tag.name %> (<%= tag.tag_type.name %>)
      </li>
    <% end %>
  </ul>

  <p>
    <% if @document.original_file.attached? %>
      <%= link_to "Descargar", @document.original_file %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_document_path(@document) %> |
  <%= link_to 'Back', documents_path %>
</div>