<p id="notice"><%= notice %></p>

<h1>Law Accesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @law_accesses.each do |law_access| %>
      <tr>
        <td><%= law_access.name %></td>
        <td><%= link_to 'Show', law_access %></td>
        <td><%= link_to 'Edit', edit_law_access_path(law_access) %></td>
        <td><%= link_to 'Destroy', law_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Law Access', new_law_access_path %>
