<div class="jumbotron" style="min-height: 100px;" align="center">
  <a href="/">
    <img src="/img/logo_buscador.png" class="img-fluid" height="50">
  </a>
</div>

<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="display-4"><strong><%= @tag.tag_type.name %>:</strong> <%= @tag.name %></h1>

<div class="row">
  <% @tag.laws.each do |law| %>
    <div class="col-sm-6 col-md-4 py-2">
      <div class="card card-body h-100" style="padding:0px">
        <a href="<%= law_path(law) %>" style="padding:20px">
          <h5 class="card-title"><%= law.name %></h5>
          <p>Número de creación <%= law.creation_number %></p>
        </a>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Ir a inicio', root_path %>

</div>