<%= form_with(model: users_preference) do |form| %>

    <% if @go_to_law %>
      <input type="hidden" id="go_to_law" name="go_to_law" value="<%= @go_to_law %>">
    <% end %>
    <% if @redirect_to_valid %>
        <input type="hidden" id="redirect_to_valid" name="redirect_to_valid" value="<%= @redirect_to_valid %>">
    <% end %>
    <% if @is_monthly %>
        <input type="hidden" id="is_monthly" name="is_monthly" value="<%= @is_monthly %>">
    <% end %>
    <% if @is_annually %>
        <input type="hidden" id="is_annually" name="is_annually" value="<%= @is_annually %>">
    <% end %>
    <% if @is_onboarding %>
        <input type="hidden" id="is_onboarding" name="is_onboarding" value="<%= @is_onboarding %>">
    <% end %>

  <% if users_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_preference.errors.count, "error") %> prohibited this users_preference from being saved:</h2>

      <ul>
        <% users_preference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="preference-tags">
    <% tag_counter = 0 %>
    <%= form.collection_check_boxes :user_preference_tags, @tags, :tag_id, :name, { checked: @default_selected_tags }, include_hidden: false do |b| %>
      <% tag_counter = tag_counter + 1 %>
      <% if tag_counter < 12 %> 
        <p class="form-check">
          <%= b.check_box class: "tags-checkbox"%>
          <%= b.label%>
        </p>
      <% else %>
        <% if tag_counter == 12 %>
          <a href="#" id="seeMoreBtn" style="text-decoration: underline;" onclick="showMoreTags()"> Ver más </a>
        <% end %>
        <p class="form-check see-more">
          <%= b.check_box class: "tags-checkbox"%>
          <%= b.label%>
        </p>
      <% end %>
    <% end %>
  </section>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <section class="preference-tags mt-2">
    <p class="preference-subtitle">Frecuencia de notificaciones </p>
    <p class="form-check"> 
      <%= form.radio_button :mail_frequency, 1, class: "frequency-radiobtn", checked:"checked"%>
      <%= form.label :mail_frequency_1, "Inmediato" %>
    </p>
    <p class="form-check"> 
      <%= form.radio_button :mail_frequency, 7, class: "frequency-radiobtn"%>
      <%= form.label :mail_frequency_7, "Semanal" %>
    </p>
    <p class="form-check"> 
      <%= form.radio_button :mail_frequency, 15, class: "frequency-radiobtn"%>
      <%= form.label :mail_frequency_15, "Quincenal" %>
    </p>
    <p class="form-check"> 
      <%= form.radio_button :mail_frequency, 31, class: "frequency-radiobtn"%>
      <%= form.label :mail_frequency_31, "Mensual" %>
    </p>
  </section>

  <div class="form-group mt-4">
    <%= form.submit "Guardar",
      id:"savePreferencesBtn", 
      class:"btn btn-primary btn-lg submit-btn", 
      onclick: "validateCheckedPreferences()", 
      data:{ container:"body", toggle:"popover", placement:"top", trigger:"focus", content:"Selecciona temas y frequencia"}
    %>
  </div>

<% end %>

<script>

function validateCheckedPreferences (){
    const tags = document.getElementsByClassName("tags-checkbox");
    const frequency = document.getElementsByClassName("frequency-radiobtn");

    let isAnyTagSelected = false;
    let isAnyFrequencySelected = false;

    for (let index = 0; index < tags.length; index++) {
      if ( tags[index].checked ){
        isAnyTagSelected = true;
      }
    }

    for (let index = 0; index < frequency.length; index++) {
      if ( frequency[index].checked ){
        isAnyFrequencySelected = true;
      }
    }

    if ( isAnyTagSelected == false || isAnyFrequencySelected == false ){
      event.preventDefault();
      event.stopPropagation();
      $('#savePreferencesBtn').popover('show')
    }else{
      $('#savePreferencesBtn').unbind();
      $('#savePreferencesBtn').popover('hide')
    }
}

function showMoreTags (){
  const tags = document.getElementsByClassName("see-more");
  const seeMoreBtn = document.getElementById("seeMoreBtn");

  for (i = 0; i < tags.length; i++){  
      tags[i].style.display = 'inline-block'
      seeMoreBtn.style.display = 'none';
  }
}

</script>

<style>

  .preference-tags .form-check label {
    border-radius: 80px;
    border: 1px solid #9F9F9F; 
    cursor: pointer;
    margin: 0px;
    padding: .0em 1em 0em 1em;
  }

  .preference-tags .form-check input[type=checkbox]:checked~label,
  .preference-tags .form-check input[type=radio]:checked~label {
    background-color: #1A7FFA;
    border: 1px solid #1A7FFA;
    color: #FFFFFF;
  }

  .form-check {
    background: #EFEFEF;
    border-radius: 80px;
    display: inline-block;
    margin-bottom: 7px;
    padding: 0;
  }

  .preference-tags .form-check input[type=checkbox],
  .preference-tags .form-check input[type=radio]{
    display: none;
  }

  .preference-subtitle{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .form-group .btn{
    display: inline-block;
    margin-right: 2em;
  }

  .skip-btn{
    text-decoration: underline;
  }

  .submit-btn{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }

  .see-more{
    display: none;
  }

</style>
