<%= form_with(model: users_preference) do |form| %>
    <% if users_preference.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(users_preference.errors.count, "error") %> prohibited this users_preference from being saved:</h2>

        <ul>
          <% users_preference.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="preference-tags">
      <%= form.collection_check_boxes :user_preference_tags, @tags, :tag_id, :id, include_hidden: false do |b| %>
        <% tag_name = Tag.find_by(id: b.value).name %>
        <p class="form-check">
          <%= b.check_box %>
          <%= b.label do%>
            <%= tag_name %>
          <% end %>
        </p>
      <% end %>
    </section>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <section class="preference-tags mt-2">
      <p class="preference-subtitle">Frecuencia de notificaciones </p>
      <p class="form-check"> 
        <%= form.radio_button :mail_frequency, 7%>
        <%= form.label :mail_frequency_7, "Semanal" %>
      </p>
      <p class="form-check"> 
        <%= form.radio_button :mail_frequency, 15%>
        <%= form.label :mail_frequency_15, "Quincenal" %>
      </p>
      <p class="form-check"> 
        <%= form.radio_button :mail_frequency, 31%>
        <%= form.label :mail_frequency_31, "Mensual" %>
      </p>
    </section>

    <div class="form-group">
      <%= form.submit "Enviar", class:"btn btn-primary" %>
    </div>
  <% end %>

<style>

  .preference-tags .form-check label {
    border-radius: 80px;
    cursor: pointer;
    margin: 0px;
    padding: .0em 1em 0em 1em;
  }

  .preference-tags .form-check input[type=checkbox]:checked~label,
  .preference-tags .form-check input[type=radio]:checked~label {
    background-color: #1A7FFA;
    color: #FFFFFF;
  }

  .form-check {
    background: #EFEFEF;
    border: 1px solid #9F9F9F;
    border-radius: 80px;
    display: inline-block;
    padding: 0;
  }

  .preference-tags .form-check input[type=checkbox],
  .preference-tags .form-check input[type=radio]{
    display: none;
  }

  .preference-title{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0.5em;
  }

  .preference-subtitle{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

</style>
