<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @title.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @title.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @title.number %>
</p>

<p>
  <strong>Law:</strong>
  <%= @title.law_id %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
