<% content_for :title, "Inicia sesión - TodoLegal" %>

<section>
  <div class="container">
    <a href="/">
      <img  src="/img/Icon-Todolegal-gray20px.svg" alt="Card image cap" id="logoImage">
    </a>
    <div class="card card--onboarding bg-white rounded">
      <div class="card-body">
        <h2 class="card-title text-center" id="title">Inicia sesión</h2>
        <p class="card-text text-center content">
          ¿No tienes una cuenta aún?<br/>
          <%= link_to "Regístrate", pricing_path %><br />
        </p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), data:{turbo:false}) do |f| %>
          <%= render "devise/shared/flash_and_notice", resource: resource%>
          <%= hidden_field_tag :go_to_document, @go_to_document %>
          <div class="form-group">
            <%= f.label :Correo_eléctronico %><br />
            <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id:"email" %>
          </div>

          <div class="form-group">
            <%= f.label :Contraseña %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control'%>
          </div>

          <p class="card-text text-center content" ><%= render partial: "devise/shared/links", locals:{create: false} %></p>

          <div class="form-group">
            <%= f.submit "Inicia sesión", class: 'btn btn-primary btn-block btn-lg', id:"nextButton", data:{toggle:"popover", placement:"top", trigger:"focus",
                content:"Complete todos los campos."}, :onclick => "requiredField()" %>
          </div>
          <%= javascript_import_module_tag "form_validator" %>
        <% end %>
        <%= render partial: 'devise/shared/omniauth_login' %>
      </div>
    </div>
  </div>
</section>

<script>
  function requiredField(event){
    var email = document.getElementById("email").value;
     
    if( email.trim() == "")
    {
        $('#nextButton').popover('show')
        event.preventDefault();
        event.stopPropagation();
    }
    else
    {
      $('#nextButton').unbind();
      $('#nextButton').popover('hide') 
    }
  }
</script>

<style>
  .card{
    width: 75%;
    padding: 1rem;
  }

  .card-text{
    font-family: -apple-system, sans-serif;color: #505864;
  }
  section{
    background: #EFF3F8;
    margin-bottom: 2%;
  }

  #logoImage{
    height: 12vh;
    max-height: 110px;
    margin: 2vh auto 0;
    display: block;
  }
  
  .form-group{
    font-family: -apple-system, sans-serif;
  }

  .form-control{
    background-color: #EFF3F8;
  }

  #title{
    margin-bottom: 4%;
  }

  @media only screen and (max-width: 767.98px){
    .card{
      width:100%;
      margin-left: 0%;
      padding: 0;
      border: none;
    }
    .card-body{
      padding: 0%;
    }

    section{
      background: white;
    }
    .form-control{
      background-color: #EFF3F8;
    }

    #logoImage{
      width: 70px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
</style>