<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @chapter.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @chapter.number %>
</p>

<p>
  <strong>Law:</strong>
  <%= @chapter.law_id %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
