<style>
  strong {font-weight:bold;}
  .bigger-section {
    font-family: 'Montserrat', sans-serif;
  }
  .article {
    font-family: 'Merriweather', serif;
  }
</style>

<div>
  <% if @articles_count == 0 %>
    <p>Intenta tu búsqueda de nuevo cambiando las palabras o revisando la ortografía.</p>
  <% end %>
  <% article_iterator = 0 %>
  <% bigger_section_iterator = 0 %>
  <% @stream.each do |stream| %>
    <% if stream.instance_of? Book %>
      <div class="bigger-section" id="bigger_section_<%= bigger_section_iterator %>" last_article="<%= article_iterator - 1 %>" next_article="<%= article_iterator %>">
        <h2 id="book_<%= stream.position %>">
          Libro <%= stream.number %>
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_book_path(stream) %>
          <% end %>
        </h2>
        <h3><%= stream.name %></h3>
      </div>
      <% bigger_section_iterator += 1 %>
    <% end %>
    <% if stream.instance_of? Title %>
      <div class="bigger-section" id="bigger_section_<%= bigger_section_iterator %>" last_article="<%= article_iterator - 1 %>" next_article="<%= article_iterator %>">
        <h2 id="title_<%= stream.position %>">
          Título <%= stream.number %>
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_title_path(stream) %>
          <% end %>
        </h2>
        <h3><%= stream.name %></h3>
      </div>
      <% bigger_section_iterator += 1 %>
    <% end %>
    <% if stream.instance_of? Chapter %>
      <div class="bigger-section" id="bigger_section_<%= bigger_section_iterator %>" last_article="<%= article_iterator - 1 %>" next_article="<%= article_iterator %>">
        <h3 id="chapter_<%= stream.position %>">
          Capítulo <%= stream.number %>
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_chapter_path(stream) %>
          <% end %>
        </h3>
        <h4><%= stream.name %></h4>
      </div>
      <% bigger_section_iterator += 1 %>
    <% end %>
    <% if stream.instance_of? Section %>
      <div class="bigger-section" id="bigger_section_<%= bigger_section_iterator %>" last_article="<%= article_iterator - 1 %>" next_article="<%= article_iterator %>">
        <h4 id="section_<%= stream.position %>">
          Sección <%= stream.number %>
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_section_path(stream) %>
          <% end %>
        </h4>
        <h5><%= stream.name %></h5>
      </div>
      <% bigger_section_iterator += 1 %>
    <% end %>
    <% if stream.instance_of? Subsection %>
      <div class="bigger-section" id="bigger_section_<%= bigger_section_iterator %>" last_article="<%= article_iterator - 1 %>" next_article="<%= article_iterator %>">
        <h5 id="subsection_<%= stream.position %>">
          <%= stream.number %>
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_subsection_path(stream) %>
          <% end %>
        </h5>
        <h5><%= stream.name %></h5>
      </div>
      <% bigger_section_iterator += 1 %>
    <% end %>
    <% if stream.instance_of? Article %>
      <div align="justify" style="color: #444; padding: 10px" onclick="onClickArticle(<%= article_iterator %>)" class="article" article_id="<%= article_iterator %>" last_bigger_section="<%= bigger_section_iterator - 1 %>" next_bigger_section="<%= bigger_section_iterator %>" id="article_count_<%= article_iterator %>">
        <b class="article-name" align="justify" style="color: #111;font-weight:bold; display: block;``">Artículo <%= stream.number %><br>
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_article_path(stream) %>
          <% end %>
        </b>
        <% if @highlight_enabled %>
          <%= stream.pg_search_highlight.html_safe %>.
        <% else %>
          <%= stream.class.markdown.render(stream.body).html_safe %>
        <% end %>
      </div>
      <% article_iterator += 1 %>
    <% end %>
  <% end %>
</div>