<div class="container">
  <%= form_with(model: law, local: true) do |form| %>
    <% if law.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(law.errors.count, "error") %> prohibited this law from being saved:</h2>

        <ul>
          <% law.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p></p>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :nombre %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :forma_de_creacion %>
          <%= form.hidden_field :law_id, value: @law.id %>
          <%= form.collection_select(:tag_id, (@all_creacions), :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :numero_de_creacion %>
          <%= form.text_field :creation_number, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= form.label :modificaciones %>
          <%= form.text_field :modifications, class: "form-control" %>
        </div>
      </div>
      <%law_tag = LawTag.new %>
      <%= render partial:'edit_table', locals: {law_tag: law_tag, all: @all_materias, tag_type: "materia", table_title: "Materia"}%>
      <div class="col-md-8 justify-content-end">
        <p></p>
        <%= form.submit "Actualizar", class: "btn btn-primary"%>
        &nbsp;&nbsp;
       <u> <%= link_to 'Cancelar', law_path, class: "text-danger"%> </u>
      </div>
    </div>
  <% end %>
</div>