<%= form_with(model: law, local: true) do |form| %>
  <% if law.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(law.errors.count, "error") %> prohibited this law from being saved:</h2>

      <ul>
        <% law.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
