
<!-- Start index accordion -->
<div class="accordion" id="index-accordion">
  <!-- Start index card -->
  <div>
    <!-- Article element -->
    <% if @has_articles_only %>
      <% i = 0 %>
      <% @stream.each do |stream| %>
        <div class="card-header index-element" style="font-size: 20px;padding-right: 50px;">
          <section style="white-space: nowrap; text-align: center;">
            <a class="uncolored_link" href="#article_<%= stream.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('article_count_<%= i %>')}, 500)" aria-controls="articulos" aria-selected="true">
              <b>Artículo <%= stream.number %></b>
            </a>
          </section>
        </div>
        <% i+=1 %>
      <% end %>
    <% else %>
      <% book_index_position = 0%>
      <% title_index_position = 0 %>
      <% chapter_index_position = 0%>
      <% section_index_position = 0%>

      <% title_display = 'block'%>
      <% chapter_display = 'block'%>
      <% section_display = 'block'%>
      <% subsection_display = 'block' %>

      <% is_title_blocked = true %>
      <% is_chapter_blocked = true %>
      <% is_section_blocked = true %>
      <% is_subsection_blocked = true %>

      <% @result_index_items.each do |index_items|%>
          
        <% if index_items.instance_of? Book %>
          <!-- Level 1 Book -->
          <% book_index_position = index_items.position %>
          <% title_index_position = index_items.position %>
          <% chapter_index_position = index_items.position %>
          <% section_index_position = index_items.position %>

          <% is_title_blocked = false%>

          <% title_display = 'none'%>
          
          <div class="card-header book-element index-element">
            <section class="index-book" style="white-space: nowrap;">
              <a class="uncolored_link" href="#book_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('book_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                <span>Libro <%= index_items.number %></span>
              </a>
              <a class="uncolored_link" href="#book_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('book_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                <h4 class="title--libro"><%= index_items.name %></h4>
              </a>
              <button type="button" id="btn-collapse-<%= book_index_position %>" class="btn btn-light btn-collapse" onclick="collapseElements('btn-collapse-<%= book_index_position %>', 'index-element-<%= book_index_position %>' ); $(this).toggleClass('opened');">
                <i class="fas fa-chevron-down"></i>
              </button>
            </section>
          </div>
        <% end %>
        <!-- Level 2 Title -->
        <% if is_title_blocked %>
          <%if book_index_position == 0 %>
              <% book_index_position += 12777 %>
          <% end %>
        <% end %>
        <div class="index-element-<%= book_index_position %>" style="display: <%= title_display%>;">
          <% if index_items.instance_of? Title %>
            <% title_index_position = index_items.position %>
            <% chapter_index_position = index_items.position %>
            <% section_index_position = index_items.position %>
            <% is_chapter_blocked = false %>
            <% chapter_display = 'none'%>
            
            <div class="card-header title-element">
              <section class="index-title" style="white-space: nowrap;">
                <a class="uncolored_link" href="#title_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('title_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                  Titulo <%= index_items.number %>
                </a>
                <button type="button" id="btn-collapse-<%= title_index_position %>" class="btn btn-light btn-collapse" onclick="collapseElements('btn-collapse-<%= title_index_position %>', 'index-element-<%= title_index_position %>' ); $(this).toggleClass('opened');">
                  <i class="fas fa-chevron-down"></i>
                </button>
              </section>
              <section class="index-title-name">
                <a class="uncolored_link" href="#title_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('title_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                  <%= index_items.name %>
                </a>
              </section>
            </div>
          <% end %>
          <!-- Level 3 Chapter-->
          <% if is_chapter_blocked %>
            <%if title_index_position == 0 %>
              <% title_index_position += 24855 %>
            <% end %>
          <% end %>
          <div class="index-element-<%= title_index_position %>" style="display: <%= chapter_display%>;">
            <% if index_items.instance_of? Chapter %>
              <% chapter_index_position = index_items.position %>
              <% section_index_position = index_items.position %>
              <% is_section_blocked = false %>
              <% section_display = 'none' %> 
              
              <div class="card-header chapter-element">
                <section class="index-chapter" style="white-space: nowrap;">
                  <a class="uncolored_link" href="#chapter_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('chapter_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                    Capítulo <%= index_items.number %></b>
                  </a>
                    <button type="button" id="btn-collapse-<%= chapter_index_position %>" class="btn btn-light btn-collapse" onclick="collapseElements('btn-collapse-<%= chapter_index_position %>', 'index-element-<%= chapter_index_position %>' ); $(this).toggleClass('opened');">
                    <i class="fas fa-chevron-down"></i>
                  </button>
                </section>
                <section class="index-chapter-name">
                  <a class="uncolored_link" href="#chapter_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('chapter_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                    <%= index_items.name %>
                  </a>
                </section>
              </div>
            <% end %>

            <!-- Level 4 Section -->
            <% if is_section_blocked %>
              <%if chapter_index_position == 0 %>
                <% chapter_index_position = 32211 %>
              <% end %>
            <% end %>
            <div class="index-element-<%= chapter_index_position %>" style="display: <%= section_display%>;">
              <% if index_items.instance_of? Section %>
                <% section_index_position = index_items.position %>
                <% is_subsection_blocked = false %>
                <% subsection_display = 'none' %>
                <div class="card-header section-element">
                  <section class="index-section" style="white-space: nowrap;">
                    <a class="uncolored_link" href="#section_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('section_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                      <span>Sección <%= index_items.number %></span>
                    </a>
                    <button type="button" id="btn-collapse-<%= section_index_position %>" class="btn btn-light btn-collapse" onclick="collapseElements('btn-collapse-<%= section_index_position %>', 'index-element-<%= section_index_position %>' ); $(this).toggleClass('opened');">
                      <i class="fas fa-chevron-down"></i>
                    </button>
                  </section>
                  <section class="index-subsection-name">
                    <a class="uncolored_link" href="#section_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('section_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                      <%= index_items.name %>
                    </a>
                  </section>
                </div>
              <% end %>

              <!-- Level 5 Subsection -->
              <% if is_subsection_blocked %>
                <%if section_index_position == 0 %>
                  <% section_index_position = 7947 %>
                <% end %>
              <% end %>
              <div class="index-element-<%= section_index_position %>" style="display: <%= subsection_display %>;">
                <% if index_items.instance_of? Subsection %>
                  <div class="card-header subsection-element">
                    <section class="index-subsection" style="white-space: nowrap;">
                      <a class="uncolored_link" href="#subsection_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('subsection_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                        <span>Sección <%= index_items.number %></span>
                      </a>
                    </section>
                    <section class="index-subsection-name">
                      <a class="uncolored_link" href="#subsection_<%= index_items.position %>" onclick="$('.nav a:first').tab('show');setTimeout(function(){onIndexElementClicked('subsection_<%= index_items.position %>')}, 500)" aria-controls="articulos" aria-selected="true">
                        <%= index_items.name %>
                      </a>
                    </section>
                  </div>
                <% end %>
              </div>
              <!-- End level 5 -->
            </div>
            <!-- End level 4-->
          </div>
          <!-- End level 3  -->
        </div>
        <!-- End level 2-->
      <% end %>
      <!-- End level 1 -->
    <% end %>
  </div>
  <!-- End index card -->
</div>
<!-- End index accordion -->


<script>

  try {
    function collapseElements(btnId, elementsClass){
      var bntCollapse = document.getElementById(btnId);
      var elements = document.getElementsByClassName(elementsClass);
      for(let i = 0; i < elements.length; i++){
        if (elements[i].style.display == "none"){
          elements[i].style.display = "block";
          
        }else if (elements[i].style.display == "block"){
          elements[i].style.display = "none";
        }
      }
    }
  } catch (error) {
    //something?
  }

</script>

<style>
  strong {font-weight:bold;}
  
  .card-header{
    border: 1px solid #A6B9D3;
  }

  .book-element{
    font-size: 1.2rem;
    background: #DFE7F1;
  }

  .title-element{
    font-size: 1rem;
    background: #F2F5F8;
  }

  .chapter-element{
    font-size: 1rem;
    padding-left: 40px; 
    background: #FFFFFF; 
  }

  .section-element{
    font-size: 1rem;
    padding-left: 40px;
    background: #FFFFFF;
  }

  .subsection-element{
    font-size: 1rem;
    padding-left: 40px;
  }

  .index-book, .index-title, .index-chapter, .index-section, .index-subsection {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: inline;
    color: #505864;
  }

  .index-title-name{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #171F2A;
  }

  .index-chapter-name{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #171F2A;
  }

</style>