<h1 class="law-name">
  <%= @law.name %>
  <% if @user_can_edit_law && is_editor_mode_enabled %>
    <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_law_path(@law) %>
  <% end %>
</h1>

<p>
  <% if @law.creation_number && @law.creation_number != "" %>
    <span class="badge-creation badge-secondary"><i class="fas fa-file-alt"></i> <%= @law.creation_number %></span>
  <% end %>
  <% if !@highlight_enabled %>
    <span class="badge badge-articles"><%= @articles_count %> artículos en total</span>
  <% else %>
    <span class="badge badge-secondary"><%= @articles_count %> resultados encontrados</span>
  <% end %>
</p>

<p> 
  <% if @law.revision_status != "" %>
    <% if @law.revision_status == "Actualizado" %>
      <i class="fas fa-check-circle" style="color: #34b233;"></i>
    <% end %>
    Documento <strong><% if @law.revision_status == "Actualizado" %> totalmente<% end %> <%= @law.revision_status.downcase %></strong>
  <% end %>
</p>
<p> 
  <% if @law.revision_status != "" %>
    <span class="badge-creation badge-secondary"> <i class="fas fa-clock"></i> Última revisión: <%= @law.updated_at.strftime("%d-%m-%Y") %></span>
  <% end %>
</p>
<!--
<% if @highlight_enabled %>
<p>
  <a class="" href="<%= law_path(@law) %>">Ver ley completa</a>
</p>
<% end %>
-->
<style>
  .badge-creation{
    background: #F2F5F8;
    border: 1px solid rgba(166, 185, 211, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    color: #505864;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: .25em .4em;
  }

  .badge-articles{
    font-style: normal;
    font-weight: normal;
    color: #505864;
    font-size: 14px;
    line-height: 19px;
  }

  @media only screen and (max-width: 767.98px){
    .law-name{
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #171F2A;
    }
  } 

</style>