
<nav class="navbar navbar-expand-lg navbar-light  sticky-top" id="topNavbar">
    <a href="/" class="navbar-brand text-primary" >
        <img  src="/img/top_navbar/top_navbar.svg" alt="Card image cap" class="img-fluid" id="logo">
         &nbsp;&nbsp;
        <img src="/img/top_navbar/Logo-letras-white.svg" alt="Card image cap" class="todolegal img-fluid">
    </a>
    <ul class="navbar-nav" >
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btn-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50%;"  data-display="static" id="menu-botton">
                <% if current_user.first_name %>
                    <%= current_user.first_name[0]%>
                <% end %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="name-container">
                <div class="circle btn-avatar btn-avatar-large">
                    <% if current_user.first_name.present? && current_user.last_name.present? %>
                        <%= current_user.first_name[0].upcase + current_user.last_name[0].upcase%>
                    <% end %>
                </div>
                <% if current_user.first_name && current_user.last_name %>
                    <%= current_user.first_name + " " + current_user.last_name %>
                <% end %>
                <div>
                    
                </div>
                </div>

                <a href="/users/edit" class="dropdown-item">
                <i class="fas fa-user" aria-hidden="true"></i>
                Tu cuenta</a>
                <a href="/invite_friends" class="dropdown-item">
                <i class="fas fa-gift" aria-hidden="true"></i>
                Invitar amigos</a>
                
                <% if current_user_is_admin %>
                    <button class="dropdown-item disabled font-weight-bold " type="button" >
                        Administrar
                    </button>
                    <div class="dropdown-divider"></div>
                    <%= link_to('-> Usuarios', admin_users_path, class:"dropdown-item") %>
                    <%= link_to('-> Documentos', laws_path, class:"dropdown-item")%>
                    <div class="dropdown-divider"></div>
                    <% if is_editor_mode_enabled %>
                        <a href="/admin/disable_edit_mode" class="dropdown-item">
                        Deshabilitar modo edición</a>
                    <% else %>
                        <a href="/admin/enable_edit_mode" class="dropdown-item">
                        Habilitar modo edición</a>
                    <% end %>
                <% end %>
                <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class:"dropdown-item") %>
            </div>
        </div>
    </ul>
</nav>

<style>
    #topNavbar{
        margin-bottom: 0px; 
        z-index: 1000; 
        justify-content: space-between;
        background: #171F2A;
        padding: 5px 20px;
    }

    #logo{
      background-color: #171F2A;
    }

    .circle{
        height: 60px;
        width: 60px;
        color: white; 
        border-radius: 50%;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .dropdown-menu{
        background: #171F2A;
        min-width: 18em;
    }

    .dropdown-item{
        color: #FFFFFF;
    }

    .navbar-brand{
        /* padding-left: 15%; */
    }

    #menu-botton{
        
    }

    .dropdown-menu .btn-avatar-large {
    height: 60px;
    width: 60px;
    font-size: 22px;
    margin: 0.25em .85em 1em;
    padding: 0;
    display: flex;
    justify-content: center;
    }

    .name-container {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.2);
        margin-bottom: 1em;
    }

    @media only screen and (max-width: 767.98px){
        .todolegal{
        margin:0px;
        display: none;
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu {
            width: 100%;
            position: fixed;
            left: 0;
            top: 62px;
            border-radius: 0 0 2px 2px;
        }
    }

    @media only screen and (max-width: 767.98px){
    .todolegal{
      margin:0px;
      display: none;
    }
  }

   @media only screen and (min-width: 1200px){

    #topNavbar{
      padding: 5px 10vw;
  }
</style>

