<nav id="myScrollspy" class="navbar sticky-top navbar-expand-xl navbar-light bg-light">
  <button type="button" id="sidebarCollapse" class="btn indice">
    <i class="fas fa-align-left"></i>
    <span>Índice</span>
  </button>

  <a class="navbar-brand" href="/"><img src="/img/logo_navbar.png" height="70" style="max-height:inherit"></a>

  <div class="d-none d-xl-block">
    <ul class="navbar-nav mr-auto" style="margin-inline-end: 50px;">
      <div style="font-size: 25px">
        <div>
          <span style="max-width: 400px;">
            <%= @law.name %>
          </span>
          <br>
        </div>
        <span style="font-size: 15px; padding: 0px;"><%= @articles_count %> artículos</span>
      </div>
    </ul>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-search"></span>
  </button>

  <div class="d-xl-none" style="width: 100%; width: 100vw;">
    <ul class="navbar-nav mr-auto" style="margin-inline-end: 50px;">
      <div style="font-size: 25px">
        <div>
          <span class="text-nowrap" style="width: 100%; width: 100vw;">
            <%= @law.name %>
          </span>
        </div>
      </div>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto">
    </ul>
    <form class="form-inline" action="<%= law_path(@law) %>" method="get">
      <input id="query-input" class="form-control mr-sm-2" name="query" type="search" placeholder="Buscar" value="<%= @query %>" aria-label="Buscar">
      <button class="btn btn-outline my-2 my-sm-0 buscar" type="submit">Buscar</button>
    </form>
  </div>
</nav>