<div id="myScrollspy" class="sticky-top" style="top:70px; padding: 0px; padding-top:5px; padding-bottom:5px; background-color: #fff;">
  <div class="row">
    <div class="col-sm-12 col-md-12 py-12">
      <ul class="nav nav-tabs" id="lawEditorTab" role="tablist">
        <li  class="nav-item">
          <a class="nav-link active" id="articulos-tab" data-toggle="tab" href="#articulos" role="tab" aria-controls="articulos" aria-selected="true">Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#indice">Índice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="modifications-tab" data-toggle="tab" href="#modifications" role="tab" aria-controls="modifications" aria-selected="false">Modificaciones</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <form class="form-inline" action="<%= law_path(@law) %>" method="get">
        <div class="input-group">
          <input type="text" class="form-control" name="query" type="search" placeholder="Buscar" value="<%= @query %>" aria-label="Buscar">
          <div class="input-group-append">
            <button class="btn btn-secondary" style="background-color: #FF5722;border-color: #FF5722;" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-7">
      <span class="d-inline-block text-truncate" style="width: 30%; width: 30vw;" id="sticky_nav_header"></span>
    </div>
    <div class="col-1">
      <div class="btn-group">
        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to('A', "/", method: :delete, class:"dropdown-item") %>
          <%= link_to('B', "/", method: :delete, class:"dropdown-item") %>
          <%= link_to('C', "/", method: :delete, class:"dropdown-item") %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
br{content:' ';}
br:after{content:' ';}
</style>