<div id="" class="sticky-top sticky-top--tabs">
  <div class="tabs--document p-0">
    <div class="menu-bar" style="padding-bottom: 10px;">
      <ul class="nav" id="lawEditorTab" role="tablist">
        <li  class="nav-item active subbar-item" id="doc-item">
          <a class="nav-link subbar-text" id="articulos-tab" data-toggle="tab" href="#articulos" role="tab" aria-controls="articulos" aria-selected="true">
          <i class="far fa-file-alt subbar-icon"></i>
          Documento</a>
        </li>
        <li class="nav-item subbar-item desktop-menu-item" id="index-item" >
          <a class="nav-link subbar-text" data-toggle="tab" href="#indice">
          <i class="far fa-list-alt subbar-icon" data-toggle="tab" href="#indice"></i>
          Índice</a>
        </li>
        <li class="nav-item subbar-item desktop-menu-item" id="modifications-item">
          <a class="nav-link subbar-text" data-toggle="tab" href="#modifications">
          <i class="fas fa-link subbar-icon" data-toggle="tab" href="#modifications"></i>
          Enlaces</a>
        </li>
        <li class="nav-item subbar-item mobile-menu-item d-block d-xl-none" id="related-item">
          <a class="nav-link subbar-text" data-toggle="tab" href="#related">
          <i class="fas fa-link subbar-icon" data-toggle="tab" href="#related"></i>
          Relacionados</a>
        </li>
        <li class="nav-item subbar-item mobile-menu-item" id="share-item">
          <a class="nav-link subbar-text clipboard" data-toggle="tab" href="#share">
          <i class="fas fa-share subbar-icon" data-toggle="tab" href="#share"></i>
          Compartir</a>
        </li>
        
        <li class="nav-item subbar-item mobile-menu-item" id="more-item">
          <div class="btn-group">
            <a class="nav-link subbar-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
              <i class="fas fa-ellipsis-v subbar-icon"></i>
              Más
            </a>
            <div class="dropdown dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" id="dropdown-index-item" data-toggle="tab" href="#indice" style="border-bottom: none;">
                <i class="far fa-list-alt" data-toggle="tab" href="#indice"></i>Índice
              </a>
              <a class="dropdown-item" id="dropdown-modifications-item" data-toggle="tab" href="#modifications" style="border-bottom: none;">
                <i class="fas fa-link mr-1" data-toggle="tab" href="#modifications"></i>Enlaces
              </a>
            </div>
        </li>
      </ul>
    </div>
    <div class="desktop-menu-item" style="padding-bottom: 10px;">
      <form class="form-inline" action="<%= law_path(@law) %>" method="get" id="search-law-form">
        <div class="input-group">
          <% if @user_can_edit_law && is_editor_mode_enabled %>
            <button type="button" class="btn btn-outline-secondary  desktop-menu-item clipboard-editor btn-share">
              <i class="fas fa-share subbar-icon"></i>
            </button>
          <% else %>
            <button type="button" class="btn btn-outline-secondary  desktop-menu-item clipboard btn-share">
              <i class="fas fa-share subbar-icon"></i>
            </button>
          <% end %>
          <input type="text" class="form-control" name="query" type="search" placeholder="Buscar" value="<%= @query %>" aria-label="Buscar">
          <div class="input-group-append">
            <button class="btn btn-secondary" style="background-color: #FF5722;border-color: #FF5722;" type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block';document.getElementById('search-law-form').style.display = 'none'">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <%= render '/home/loading_spinner' %>
    </div>
  </div>
  <% if @highlight_enabled %>
    <div class="row row-counter">
      <div class="col-12 col-counter">
        <button class="btn btn-sm" style="padding-left:4;" onclick="browseHighlightedUp()"><i class="fa fa-chevron-left"></i></button>
        <span>Resultado </span>&nbsp;<span id="result-count-big"></span>
        <button class="btn btn-sm" style="padding-left:4;" onclick="browseHighlightedDown()"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <span style="font-size: 15px; padding: 0px;"><a class="btn btn-primary" style="font-size: 15px;" href="<%= law_path(@law) %>">Ver ley completa</a></span>
      </div>
    </div>
  <% end %>
</div>

<style>
br{content:' ';}
br:after{content:' ';}

.subbar-icon{
  font-size: 20px;
  display: block;
}

.subbar-text{
  color: #505864;
  text-align: center;
  line-height: 1.7rem;
}

.subbar-text:hover{
  color: #171F2A;
}

ul li.active a{
    color: #171F2A;
    position: relative;
  }

  ul li.active a:after{
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    bottom: 0;
    height: 2px;
    width: 40px;
    left: 0;
    right: 0;
    background-color: #007bff;
  }

.subbar-item{
  text-align: center;
  line-height: 1.2rem;
}

.row-counter {
  background-color: #EFEFEF;
  padding: .5rem;
}

.col-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* @media only screen and (max-width: 767.98px){ */
  .subbar-text{
    color: #505864;
    text-align: center;
    line-height: 1.7rem;
  }

  .subbar-text:hover{
    color: #171F2A;
  }

  .subbar-item{
    text-align: center;
    line-height: 1.2rem;
  }

  .desktop-menu-item{
    display: inline-flex;
  }

  .mobile-menu-item{
    display: none;
  }

  .btn-share{
    margin-right: 8px;
    border: 1px solid #DFE7F1;
  }

  
  @media only screen and (max-width: 767.98px){
    /* .subbar-text{
      font-size: 13px;
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 0px;
    } */

    .desktop-menu-item{
      display: none;
    }

    .mobile-menu-item{
      display: block;
    }

  }
</style>

<%= javascript_import_module_tag "law_subbar_actions" %>