<!-- Sidebar  -->
<nav id="sidebar" style="z-index: 9999;">
  <div id="dismiss">
    <i class="fas fa-arrow-left"></i>
  </div>

  <div class="sidebar-header">
    <h3>Índice</h3>
  </div>

  <ul class="list-unstyled components" style="border-bottom: 1px solid #000;" id="sidebar_index">
    <input id="query_input" onkeyup="filterIndice()" class="form-control mr-sm-2" name="query" type="search" placeholder="Buscar título o capítulo" value="<%= @query %>" aria-label="Buscar">
    <% if @has_articles_only %>
      <% @stream.each do |stream| %>
        <% if stream.instance_of? Article %>
          <li>
            <a class="uncolored_link" href="#article_<%= stream.position %>" onclick="gotoArticle(<%= stream.number.to_i - 1 %>);return colapseIndice();">
              <b>Artículo <%= stream.number %></b></br>
            </a>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <% @result_index_items.each do |index_items|%>
        <% if index_items.instance_of? Book %>
          <li>
            <a class="uncolored_link" href="#book_<%= index_items.position %>" onclick="return colapseIndice();">
              <b>Libro <%= index_items.number %></b></br>
              <%= index_items.name %>
            </a>
          </li>
        <% end %>
        <% if index_items.instance_of? Title %>
          <li>
            <a class="uncolored_link" href="#title_<%= index_items.position %>" onclick="return colapseIndice();">
              <b>Titulo <%= index_items.number %></b></br>
              <%= index_items.name %>
            </a>
          </li>
        <% end %>
        <% if index_items.instance_of? Chapter %>
          <li>
            <a class="uncolored_link" href="#chapter_<%= index_items.position %>" onclick="return colapseIndice();">
              <b>Capítulo <%= index_items.number %></b></br>
              <%= index_items.name %>
            </a>
          </li>
        <% end %>
        <% if index_items.instance_of? Section %>
          <li>
            <a class="uncolored_link" href="#section_<%= index_items.position %>" onclick="return colapseIndice();">
              <b>Sección <%= index_items.number %></b></br>
              <%= index_items.name %>
            </a>
          </li>
        <% end %>
        <% if index_items.instance_of? Subsection %>
          <li>
            <a class="uncolored_link" href="#subsection_<%= index_items.position %>" onclick="return colapseIndice();">
              <b>Sección <%= index_items.number %></b></br>
              <%= index_items.name %>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</nav>