<div class="container">

  <h1>Editando ley</h1>

  <%= render 'form', law: @law %>

  <%law_tag = LawTag.new %>
  <%= form_with(model: law_tag, local: true) do |form|%>
    <% if law_tag.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(law_tag.errors.count, "error") %> prohibited this law_tag from being saved:</h2>  
          <ul>
            <% law_tag.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-8">
        <h2>Materias</h2>
      </div>
      <div class="col-sm-2">
        <%= form.hidden_field :law_id, value: @law.id %>
        <%= form.collection_select(:tag_id, @all_materias, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
      </div>
      <div class="col-sm-2">
        <%= form.submit "Agregar materia", class: 'btn btn-primary' %> 
      </div>
    </div>
  <% end %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Materia</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@law_materias.each do |materia|%>
          <tr>
            <td>
              <%= materia.tag.name %> 
            </td>
            <td>
              <%= button_to 'Eliminar', materia, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%law_tag = LawTag.new %>
  <%= form_with(model: law_tag, local: true) do |form|%>
    <% if law_tag.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(law_tag.errors.count, "error") %> prohibited this law_tag from being saved:</h2>  
          <ul>
            <% law_tag.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-8">
        <h2>Tipo de Creación</h2>
      </div>
      <div class='col-sm-2'>  
        <%= form.hidden_field :law_id, value: @law.id %>
        <%= form.collection_select(:tag_id, @all_creacions, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
      </div>
      <div class='col-sm-2'>
        <%= form.submit "Agregar creación", class: 'btn btn-primary' %> 
      </div>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Creación</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@law_creacions.each do |creacions|%>
        <tr>
          <td>
            <%= creacions.tag.name %> 
          </td>
          <td>
            <%= button_to 'Eliminar', creacions, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%law_modification = LawModification.new %>
  <%= form_with(model: law_modification, local: true) do |form|%>
    <% if law_modification.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(law_modification.errors.count, "error") %> prohibited this law_tag from being saved:</h2>  
          <ul>
            <% law_modification.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-5">
        <h2>Modificaciones</h2>
      </div>
      <div class='col-sm-5'>
        <%= form.hidden_field :law_id, value: @law.id %>
        <%= form.text_field :name, class: "form-control"%>
      </div>
      <div class='col-sm-2'>
        <%= form.submit "Agregar modificación", class: 'btn btn-primary' %> 
      </div>
    </div>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Modificación</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@law_modifications.each do |law_modification|%>
        <tr>
          <td>
            <%= law_modification.name %> 
          </td>
          <td>
            <%= button_to 'Eliminar', law_modification, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
