<div class="container">
  <p> </p>
  <h1>
    <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, law_path%>
    Información general del documento legal
  </h1>

  <ul class="nav nav-tabs" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="ley-tab" data-toggle="tab" href="#ley" role="tab" aria-controls="ley" aria-selected="true">Editar Ley</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="materias-tab" data-toggle="tab" href="#materias" role="tab" aria-controls="materias" aria-selected="false">Articulos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="creacion-tab" data-toggle="tab" href="#creacion" role="tab" aria-controls="creacion" aria-selected="false">Capitulos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="modificaiones-tab" data-toggle="tab" href="#modificaciones" role="tab" aria-controls="modificaciones" aria-selected="false">Modificaciones</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ley" role="tabpanel" aria-labelledby="ley-tab">
      <div class="row">
        <div class = "col-sm-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Ley</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Creación</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Materias</a>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <%= render 'form', law: @law %>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <%law_tag = LawTag.new %>
              <%= render partial:'edit_table', locals: {law_tag: law_tag, all: @all_creacions, tag_type: @law_creacions, title: "Tipo de Creación", table_title: "Creación"}%>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <%law_tag = LawTag.new %>
              <%= render partial:'edit_table', locals: {law_tag: law_tag, all: @all_materias, tag_type: @law_materias, title: "Materias", table_title: "Materia"}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tab-pane fade" id="materias" role="tabpanel" aria-labelledby="materias-tab">
      
    </div>

    <div class="tab-pane fade" id="creacion" role="tabpanel" aria-labelledby="creacion-tab">
      
    </div>

    <div class="tab-pane fade" id="modificaciones" role="tabpanel" aria-labelledby="modificaciones-tab">
      <%law_modification = LawModification.new %>
      <%= render partial:'edit_table', locals: {law_tag: law_modification, all: @all_creacions, tag_type: @law_modifications, title: "Modificaciones", table_title: "Modificación"}%>
    </div>
  </div>
  <p></p>
</div>
