<div class="container">
  <p> </p>
  <h1>
    <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, law_path%>
    Edición archivo Legal
  </h1>


  <ul class="nav nav-tabs" id="lawEditorTab" role="tablist">
    <li  class="nav-item">
      <a class="nav-link<%= ' active' if @active_tab == 'general' %>" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="modifications-tab" data-toggle="tab" href="#modifications" role="tab" aria-controls="modifications" aria-selected="false">Modificaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= ' active' if @active_tab == 'articles' %>" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="false">Artículos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="index-tab" data-toggle="tab" href="#index" role="tab" aria-controls="index" aria-selected="false">Índice</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade<%= ' show active' if @active_tab == 'general' %>" id="general" role="tabpanel" aria-labelledby="general-tab">
      <%= render 'form', law: @law %>
      <%law_tag = LawTag.new %>
      <%= render partial:'edit_table', locals: {law_tag: law_tag, all: @all_materias, tag_type: "materia", table_title: "Materia"}%>
    </div>

    <div class="tab-pane fade<%= ' show active' if @active_tab == 'modifications' %>" id="modifications" role="tabpanel" aria-labelledby="modifications-tab">
      <%law_modification = LawModification.new %>
      <%= render partial:'edit_table', locals: {law_tag: law_modification, all: @all_modifications, tag_type: "modificacion", table_title: "Modificación"}%>
    </div>

    <div class="tab-pane fade<%= ' show active' if @active_tab == 'articles' %>" id="articles" role="tabpanel" aria-labelledby="articles-tab">
      <p></p>
      <%next_article = @article_number.to_i + 1%>
      <%prev_article = @article_number.to_i - 1%>
      <div class="row">

        <form action="<%= edit_law_path %>" method="get" class="d-inline p-2 ">
          <div class="form-group">
            <input name="article_number" value="<%=@article_number %>" type="text" placeholder="Número de artículo">
            <button class="btn btn-outline-primary" type="submit" ><i class="fas fa-search"></i></button>
          </div>
        </form>

        <% if get_previous_article(@article) %>
          <form action="<%= edit_law_path %>" method="get" class="d-inline p-2">
            <div class="form-group">
              <input type="hidden" name="article_number" value="<%=prev_article.to_s%>">
              <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-arrow-left"></i></i></button>
            </div>
          </form>
        <% end %>

        <% if get_next_article(@article) %>
          <form action="<%= edit_law_path %>" method="get" class="d-inline p-2">
            <div class="form-group">
              <input type="hidden" name="article_number" value="<%=next_article.to_s%>">
              <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-arrow-right"></i></i></button>
            </div>
          </form>
        <% end %>

        <form action="<%= edit_law_path %>" method="get" class="d-inline p-2">
          <div class="form-group">
            <button class="btn btn-outline-secondary" type="button" style="margin-left:20px;" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></button>
          </div>
        </form>

      </div>

      <% if @article %>
        <%= form_with(model: @article, local: true) do |form| %>
          <% if @article.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
              <ul>
                <% @article.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <p>Articulo actual: <%= @article_number%></p>
          </div>

          <div class="form-group">
            <%= form.text_area :body, class: 'form-control tinymce', rows: '10' %>
          </div>


          <!-------------------------------- saved message --------------------------------------------------->
          <%if @article_updated%>
            <div class="alert alert-success alert-dismissible fade show" role="alert" id="savedArticle"> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
                Cambios guardados exitosamente.
            </div>
          <% end %>
           <!-------------------------------- end of saved message ---------------------------------------------->

          <div class="actions d-flex">
            <%= form.submit "Guardar cambios", class: 'd-inline p-2 btn btn-primary' %>
            <%= form.submit "Guardar y Siguiente", class: 'd-inline p-2 ml-2 btn btn-outline-primary' %>
          
        <% end %>
        <!-- Modal -->
            <%= button_to @article, method: :delete, data: { confirm: '¿Estás Seguro que deseas eliminarlo?' }, class:"btn btn-outline-danger ml-4 d-inline p-2" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un artículo nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Se agregará el artículo <%= @article_number.to_i + 1%> después de este artículo.
              </div>
              <div class="modal-footer">
                <form action="/laws/insert_article" method="post">
                <%= hidden_field_tag :id, @law.id %>
                  <%= hidden_field_tag :article_number, @article_number %>
                  <div class="form-inline">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="index" role="tabpanel" aria-labelledby="index-tab">

    </div>

  </div>
  <p></p>
</div>

