<p id="notice"><%= notice %></p>

<h1>Laws</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acceso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laws.each do |law| %>
      <tr>
        <td><%= law.name %></td>
        <td>
          <%= form_for(law, url: admin_set_law_access_url, html: { method: :post }) do |form| %>
            <%= form.hidden_field :law_id, value: law.id %>
            <%= form.collection_select(:law_access_id, LawAccess.all, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
            <%= form.submit 'Cambiar acceso', class: 'btn btn-primary' %> 
          <% end %>
        </td>
        <td><%= link_to 'Show', law %></td>
        <td><%= link_to 'Edit', edit_law_path(law) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Law', new_law_path %>
