<div data-spy="scroll" data-target="#myScrollspy">
  <%= render 'subscriptions/subscribe_form' %>

  <% if @highlight_enabled %>
    <%= render 'navbar_search_enabled' %>
  <% else %>
    <%= render 'navbar_search_disabled' %>
  <% end %>

  <div class="container-fluid" style="padding-top:60">
      
    <%= render 'content' %>

    <div class="wrapper">
      <%= render 'sidebar_indice' %>
    </div>
    </div>
    <% if !@user_can_access_law %>
      <p>Crea una cuenta para acceder a esta ley</p>
    <% end %>
  </div>
</div>


<script src="/js/law_navigation.js"></script>