<div data-spy="scroll" data-target="#myScrollspy">
  <%= render 'subscriptions/subscribe_form' %>

  <%= render 'navbar_subbar' %>
  <% if @highlight_enabled %>
    <%= render 'navbar_search_enabled' %>
  <% else %>
    <%= render 'navbar_search_disabled' %>
  <% end %>

  <div class="container-fluid" style="padding-top:60">
      
    <%= render 'content' %>

    <div class="wrapper">
      <%= render 'sidebar_indice' %>
    </div>
    </div>
  </div>
</div>

<script src="/js/law_navigation.js"></script>