<% content_for :title, @law.name + " - TodoLegal" %>

<script>
function onIndexElementClicked(section_id) {
  console.log(section_id)
  document.getElementById(section_id).scrollIntoView({block:'center'});
}
</script>

<div class="container" data-spy="scroll" data-target="#myScrollspy" style="background-color: #FFF !important;">
  <%= render 'law_header' %>

  <div class="container-fluid" style="padding-top:60">
    <%= render 'navbar_subbar' %>
      
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">
        <%= render 'content' %>
      </div>
      <div class="tab-pane fade show" id="indice" role="tabpanel" aria-labelledby="indice-tab">
        <%= render 'indice' %>
      </div>
      <div class="tab-pane fade show" id="modifications" role="tabpanel" aria-labelledby="modifications-tab">
        <%= render 'modifications_tab' %>
      </div>
      <div class="tab-pane fade show" id="related" role="tabpanel" aria-labelledby="related-tab">
        <%= render 'related_tab' %>
      </div>
    </div>

    <div class="wrapper">
      <%= render 'sidebar_indice' %>
    </div>
    <% if !@user_can_access_law %>
      <p>Crea una cuenta para acceder a esta ley</p>
      <!-- Modal -->
      <div class="modal fade modal--document" data-keyboard="false" data-backdrop="static" id="modalCreateBasicAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container col-md-12">
                <div class="row">
                  <% if current_user %>
                    <!-- Modal "Cambar a cuenta Pro" -->
                    <div class="col-md-12">
                      <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:#505864;" %>
                      <h3 style="font-size:22px; text-align:center; margin-left: 8%;">
                      Para consultar este documento requieres tener el Plan Pro
                      </h3>
                    </div>
                    <div class="col-md-12">
                      <p style="font-size:18px; text-align:center; padding-bottom: 22px; padding-top: 22px;">
                      Adquiérelo por <b>$7.00 al mes</b> y podrás acceder a los más de<%= (Law.count/10)*10 %> documentos legales y a lo que continuamente agregamos.
                    </p>
                    <p style="font-size:18px; text-align:center;">
                          <i class="text-muted">Puedes cancelar la suscripción en cualquier momento.</i>
                        </p>
                    </div>
                    <div class="col-md-12">
                      <a href="<%= pricing_path(activate_pro_account: true, go_to_law: @law.id) %>">
                        <button type="button" class="btn btn-primary btn-block">Adquirir Plan Pro</button>
                      </a>
                    </div>
                  <% else %>
                    <% if @law.law_access.name == "Pro" %>
                      <!-- Modal "Crear cuenta Pro" -->
                      <div class="col-md-12">
                        <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:#505864;" %>
                        <h3 style="font-size:22px; text-align:center; margin-left: 8%;">
                        Suscríbete y obtén acceso ilimitado
                        </h3>
                      </div>
                      <div class="col-md-12">
                        <p style="font-size:18px; text-align:center; padding-bottom: 22px; padding-top: 22px;">
                      Adquiere el <b>Plan Pro</b> por <b>$7.00 al mes</b> y podrás acceder a más de <%= (Law.count/10)*10 %> documentos legales y a lo que continuamente agregamos.
                        <p style="font-size:18px; text-align:center;">
                          <i class="text-muted">Puedes cancelar la suscripción en cualquier momento.</i>
                        </p>
                        
                      </p>
                      </div>
                      <div class="col-md-12">
                        <a href="<%= new_user_registration_path %>?go_to_law=<%=@law.id%>&go_to_checkout=true">
                          <button type="button" class="btn btn-primary btn-block">Crear cuenta</button>
                        </a>
                      </div>
                    <% else %>
                      <!-- Modal "Crear cuenta Básica" -->
                      <div class="col-md-12">
                        <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:#505864;" %>
                        <h3 style="font-size:22px; text-align:center; margin-left: 8%;">
                        Regístrate y accede a este documento
                        </h3>
                      </div>
                      <div class="col-md-12">
                        <p style="font-size:18px; text-align:center; padding-bottom: 22px; padding-top: 22px;">
                        Crea una cuenta y accede a más de <b><%= (Law.count/10)*10 %> documentos</b> de Legislación Hondureña y recibe boletines informativos.
                        </p>
                      </div>
                      <div class="col-md-12">
                        <a href="<%= new_user_registration_path %>?go_to_law=<%=@law.id%>">
                          <button type="button" class="btn btn-primary btn-block">Crear cuenta Básica</button>
                        </a>
                      </div>
                    <% end %>
                    <div class="col-md-12">
                      <div with="100%" style="text-align:center;">
                        ¿Ya tienes cuenta?
                      </div>
                      <div with="100%" style="text-align:center;">
                        <a style="font-size:18px;text-align:center;" href="<%= new_user_session_path %>?go_to_law=<%=@law.id%>">
                          Inicia sesión
                        </a>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Modal-->
    <% end %>
  </div>
</div>