<script>
function myFunction(section_id) {
  document.getElementById(section_id).scrollIntoView();
}
</script>

<div class="container" data-spy="scroll" data-target="#myScrollspy">
  <%= render 'law_header' %>

  <%= render 'navbar_subbar' %>
<!--
  <% if @highlight_enabled %>
    <%= render 'navbar_search_enabled' %>
  <% else %>
    <%= render 'navbar_search_disabled' %>
  <% end %>
-->

  <div class="container-fluid" style="padding-top:60">
      
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">
        <%= render 'content' %>
      </div>
      <div class="tab-pane fade show" id="indice" role="tabpanel" aria-labelledby="indice-tab">
        <%= render 'indice' %>
      </div>
      <div class="tab-pane fade show" id="modifications" role="tabpanel" aria-labelledby="modifications-tab">
        <%= render 'modifications_tab' %>
      </div>
    </div>
    

    <div class="wrapper">
      <%= render 'sidebar_indice' %>
    </div>
  </div>
</div>

<script src="/js/law_navigation.js"></script>