<% content_for :title, @law.name + " - TodoLegal" %>
<%= render 'law_navbar'%>

<%if @info_is_searched %>
  <% display_search_container = "block" %>
  <% display_container_visualizador = "none" %>
  <% display_topNavbar = "none" %>
<% else %>
  <% display_search_container = "none" %>
  <% display_container_visualizador = "block" %>
  <% display_topNavbar = "flex" %>
<% end %>

<style>
  .container-law{
    max-width: 1090px;
    margin: 5vh auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 860px auto;
  }

  .container-law .nav-pills {
    background-color: #EFF3F8;
  }

  .law-header-desktop{
    display: block;
  }

  .law-header-mobile{
    display: none;
  } 

  #topNavbar{
    display: flex;
  }

  .container--visualizador{
    display: block;
  }

  .search--container{
    display: none;
  }
  
  @media only screen and (max-width: 767.98px){
    .container-law{
      padding: 0px;
    }

    .container-law {
      display: flex;
      flex-direction: column;
    }

    .container-law .nav-pills {
      display: none;
    }

    .law-header-desktop{
      display: none;
    }

    .law-header-mobile{
      display: block;
    }

    .container--visualizador{
      display: <%= display_container_visualizador %>;
    }  

    .search--container{
      display: <%= display_search_container %>;
    }

    #topNavbar{
      display: <%= display_topNavbar %>;
    }
  }
</style>

<div class="container container--visualizador" data-spy="scroll" data-target="#myScrollspy">

  <!-- Copied to clipboard alert -->
  <div class="alert alert-success alert-dismissible fade show" id="clipboard-alert" role="alert" style="display: none;"> 
    <button type="button" class="close" id="clipboard-button">
      <span aria-hidden="true">&times;</span>
    </button>
      Enlace copiado en el portapapeles, ahora puedes compartir este documento al pegar el enlace.
  </div>

  <div class="law-header-desktop"><%= render 'law_header' %></div>
  
  <div class="container--documento">
    <div class="inner-continer--visualizador">
      <%= render 'navbar_subbar' %>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">
          <div class="law-header-mobile"><%= render 'law_header' %></div>
          <span class="resultinfo sticky-top d-inline-block text-truncate" style="width: 100%;" id="sticky_nav_header"></span>
          <%= render  partial:'content', locals:{is_mobile: false} %>
        </div>
        <div class="tab-pane fade show" id="indice" role="tabpanel" aria-labelledby="indice-tab">
          <%= render 'indice' %>
        </div>
        <div class="tab-pane fade show" id="modifications" role="tabpanel" aria-labelledby="modifications-tab">
          <%= render 'modifications_tab' %>

        </div>
        <div class="tab-pane fade show" id="related" role="tabpanel" aria-labelledby="related-tab">
          <%= render 'related_tab' %>
        </div>
      </div>
      
    <div class="wrapper">
      <%= render 'sidebar_indice' %>
    </div>
    <% if !@user_can_access_law %>
      <p>Crea una cuenta para acceder a esta ley</p>
      <!-- Modal -->
      <div class="modal fade modal--document" data-keyboard="false" data-backdrop="static" id="modalCreateBasicAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container col-md-12">
                <div class="row">
                  <% if current_user %>
                    <!-- Modal "Cambar a cuenta Pro" -->
                    <div class="col-md-12">
                      <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:#505864;" %>
                      <h3 style="font-size:22px; text-align:center; margin-left: 8%;">
                      Para consultar este documento requieres tener el Plan Profesional
                      </h3>
                    </div>
                    <div class="col-md-12">
                      <p style="font-size:18px; text-align:center; padding-bottom: 22px; padding-top: 22px;">
                      Adquiérelo por <b>$<%= BASE_PRICE_MONTHLY %> al mes</b> y podrás acceder a los más de<%= (all_document_count/10)*10 %> leyes y documentos legales y a lo que continuamente agregamos.
                    </p>
                    <p style="font-size:18px; text-align:center;">
                          <i class="text-muted">Puedes cancelar la suscripción en cualquier momento.</i>
                        </p>
                    </div>
                    <div class="col-md-12">
                      <a href="<%= pricing_path(activate_pro_account: true, go_to_law: @law.id) %>">
                        <button type="button" class="btn btn-primary btn-block">Adquirir Plan Pro</button>
                      </a>
                    </div>
                  <% else %>
                    <% if @law.law_access.name == "Pro" %>
                      <!-- Modal "Crear cuenta Pro" -->
                      <div class="col-md-12">
                        <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:#505864;" %>
                        <h3 style="font-size:22px; text-align:center; margin-left: 8%;">
                        Suscríbete y obtén acceso ilimitado
                        </h3>
                      </div>
                      <div class="col-md-12">
                        <p style="font-size:18px; text-align:center; padding-bottom: 22px; padding-top: 22px;">
                      Adquiere el <b>Plan Pro</b> por <b>$<%= BASE_PRICE_MONTHLY %> al mes</b> y podrás acceder a más de <%= (all_document_count/10)*10 %> leyes y documentos legales y a lo que continuamente agregamos.
                        <p style="font-size:18px; text-align:center;">
                          <i class="text-muted">Puedes cancelar la suscripción en cualquier momento.</i>
                        </p>
                        
                      </p>
                      </div>
                      <div class="col-md-12">
                        <a href="<%= new_user_registration_path %>?go_to_law=<%=@law.id%>&go_to_checkout=true">
                          <button type="button" class="btn btn-primary btn-block">Crear cuenta</button>
                        </a>
                      </div>
                    <% else %>
                      <!-- Modal "Crear cuenta Básica" -->
                      <div class="col-md-12">
                        <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:#505864;" %>
                        <h3 style="font-size:22px; text-align:center; margin-left: 8%;">
                        Regístrate y accede a este documento
                        </h3>
                      </div>
                    <% end %>
                    <div class="col-md-12">
                      <div with="100%" style="text-align:center;">
                        ¿Ya tienes cuenta?
                      </div>
                      <div with="100%" style="text-align:center;">
                        <a style="font-size:18px;text-align:center;" href="<%= new_user_session_path %>?go_to_law=<%=@law.id%>">
                          Inicia sesión
                        </a>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Modal-->
      <% end %>
    </div>

    <!-- Sidebar -->
    <div class="sidebar--relacionados d-none d-xl-block">
      <h4>
        <i class="fas fa-link"></i>
        Relacionados
      </h4>
      <% if @laws_array %>
        <% i = 0 %>
        <% @laws_array.each do |law| %>
          <%if  i <= 2%>
            <% i+=1 %>
            <div class="collapsable-law-cards col" style="display:<%= i>6 ? 'none' : 'block' %>">
              <div class="card card-body h-100" style="padding:0px">
                <a class="" href="<%= law_path(law) %>" style="padding:20px">
                  <p style="font-size: 15px">
                    <% law.materia_names.each do |materia_name| %>
                      <span class="badge badge--materia"><%= materia_name %></span>
                    <% end %>
                  </p>
                  <h5 class="card-title"><%= law.name %></h5>
                  <div class="d-flex justify-content-between document-result-info">
                    <span class="badge-creation badge-secondary"><i class="fas fa-file-alt"></i> <%= law.creation_number %></span>
                    <span class="resultinfo-article-count">
                      <% if @articles_count == 1 %>
                        <%= law.articles.count %>  artículo
                      <% else %>
                        +<%= law.articles.count %> artículos
                      <% end %>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if @laws_array.size > 3 %>
          <%= button_to "Ver más documentos", tag_path(@tag), method: :get, remote: true, class:"btn btn-block btn-outline-primary see--more", style:"margin-top: 15px;width: auto;"%>
        <% end %>
      <% end %>
      <% if @show_laboral_related_podcast %>
        <div class="collapsable-law-cards col" style="display:<%= i>6 ? 'none' : 'block' %>">
          <div class="card card-body h-100" style="padding:0px">
            <a class="" href="https://open.spotify.com/episode/13gHK4cyrxUKMqCmOtSqX7?si=ed8dfa059bbf4771?tlclick=<%= @law.name %>" style="padding:20px" target="_blank">
              <p style="font-size: 15px">
                <span class="badge badge--materia">Podcast</span>
              </p>
              <h5 class="card-title">¿Cómo evitar problemas laborales en tu empresa?</h5>
              <div class="d-flex justify-content-between document-result-info">
                <span class="badge-creation badge-secondary"><img class="icon-drive" src="/img/ley_abierta_logo.png"/></span>
              </div>
            </a>
          </div>
        </div>
      <% end %>
      <% if @show_mercantil_related_podcast %>
        <div class="collapsable-law-cards col" style="display:<%= i>6 ? 'none' : 'block' %>">
          <div class="card card-body h-100" style="padding:0px">
            <a class="" href="https://pod.link/LeyAbierta/episode/77e3ca84c654c4d709124bf69103d128?tlclick=<%= @law.name %>" style="padding:20px" target="_blank">
              <p style="font-size: 15px">
                <span class="badge badge--materia">Podcast</span>
              </p>
              <h5 class="card-title">¿Qué tipo de sociedad me conviene para mi negocio?</h5>
              <div class="d-flex justify-content-between document-result-info">
                <span class="badge-creation badge-secondary"><img class="icon-drive" src="/img/ley_abierta_logo.png"/></span>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Sidebar end-->
  </div>
</div>

<!-- search container -->
<div class="container search--container">
  <%= render 'search_in_document' %>
</div>

<script>
  function onIndexElementClicked(section_id) {
    console.log(section_id)
    document.getElementById(section_id).scrollIntoView({block:'center'});

  }

  //This function handles the logic to show the highlited section and current_highlated word number, based on the preview element clicked
  // function onPreviewElementClicked (section_id, highlited_section){
  //   console.log("Id del articulo: " + section_id);
  //   document.getElementById(section_id).scrollIntoView({block:'center'});
  //   var c;
  //   var elementId = "";
  //   var acumulator = 0;

  //   for (c = 0  ; c < highlited_section ; c++){
  //     elementId = "article_count_" + c.toString();
  //     var element = document.getElementById(elementId);
  //     acumulator += element.getElementsByClassName('highlighted').length;
      
  //   }
  //   currrent_highlighted = acumulator;
  //   updateHighlightedView();
  //   hideSearchContainer();
  // }

  //hides the search container using solution 1, using the 'onclick' attribute in the button to call this function
  function hideSearchContainer () {
      document.getElementsByClassName("search--container")[0].style.display = "none";
      document.getElementsByClassName("container--visualizador")[0].style.display = "block";
      document.getElementById("topNavbar").style.display = "flex";
  }

  //hides the search container using solution 2, using an event listener on the 'click' event of the button
  /*
  const hide_search_container = document.getElementById('hideSearchContainer-button');
  hide_search_container.addEventListener('click', (event) => {
    console.log("hide search container");
    document.getElementsByClassName("search--container")[0].style.display = "none";
    document.getElementsByClassName("container--visualizador")[0].style.display = "block";
    document.getElementById("topNavbar").style.display = "flex";
  })
  */
</script>



