<section class="documents-section"
    stye="margin-top: 5px;"
>
    <% grouped_documents.each do | group | %>
        <div class="topic-divider"
            style="align-items: center; background: #171F2A; color: white; height: auto;"
        > 
            <p class="divider-text"
                style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 800; font-size: 24px; line-height: 45px; margin-left: 10px;"
            >
             <%= group[:tag_name]%>
            </p> 
        </div>
        <% group[:documents].each do | document | %>
            <div class="document-card"
                style="margin-top: 2em; margin-bottom: 3em;"
            >
                <p class="doc-card-title"
                    style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700; font-size: 16px; line-height: 19px; margin-bottom: 0.5rem;"
                >
                    
                        <%= document[:doc].issue_id %> <%= document[:act_type] %> 
                </p>
                <p class="doc-card-title"
                    style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 700; font-size: 16px; line-height: 19px; margin-bottom: 0.5rem;"
                >
                   
                        <%= document[:doc].name %>
                </p>
                <% if document[:doc].respond_to?(:issuer_tags) && document[:doc].issuer_tags.present? %>
                    <p class="doc-card-subtitle"
                        style="color: #494949; font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 17px; margin-top: 0.1rem; margin-bottom: 0.5rem;"
                    >
                        <strong>Institución emisora:</strong> <%= document[:doc].issuer_tags.join(", ") %>
                    </p>
                <% end %>
                <p class="doc-card-subtitle"
                    style="color: #494949; font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 17px; margin-bottom: 0.1rem; margin-top: 0rem;"
                >
                    <%= document[:doc].publication_date %>
                </p>
                <p class="doc-card-subtitle"
                    style="color: #494949; font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 17px; margin-top: 0.1rem; margin-bottom: 0.5rem;"
                >
                Gaceta: <%= document[:doc].publication_number %>
                </p>
                <%= link_to "https://valid.todolegal.app/gaceta/honduras/#{form_url_field(document[:doc])}/#{document[:doc].id}", class:"share" do %>
                    
                    <button
                        type="button"
                        style="padding: 8px 16px; border-radius: 8px; border: 2px solid #afafaf; cursor: pointer;"
                    > 
                        <span style="margin-bottom: 20px; padding-bottom: 8px 16px;">Descargar</span>
                    </button>
                    
                <% end %>
                <p class="doc-card-description"
                    style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 19px;"
                >
                    <%= document[:doc].description %>
                </p>
            </div>
            <% if document != group[:documents].last %>
                <hr class="doc-card-divider"
                    style="border-top: 2px solid #D9D9D9;"
                />
            <% end %>

            <% if group == grouped_documents.last && document == group[:documents].last %>
                <hr 
                    style="border: 1px solid #FF5722;"
                />
            <% end %>
        <% end %>
    <% end %>
</section>

<style>
    /* .documents-section{
        margin-top: 5px;
    }

    .doc-card-title{
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .doc-card-subtitle{
        color: #494949;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .doc-card-description{
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .topic-divider{
        align-items: center;
        background: #171F2A; 
        color: white; 
        height: 42px; 
    }

    .divider-text{
        font-family: "Lato", Helvetica, Arial, sans-serif; 
        font-style: normal; 
        font-weight: 800; 
        font-size: 24px; 
        line-height: 45px; 
        margin-left: 10px;
    }

    .doc-card-divider{
        border-top: 2px solid #D9D9D9;
    } */
</style>