<%= form_with(model: users_preferences_tag) do |form| %>
  <% if users_preferences_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_preferences_tag.errors.count, "error") %> prohibited this users_preferences_tag from being saved:</h2>

      <ul>
        <% users_preferences_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.number_field :tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
