<%= form_with(model: user_permission, local: true) do |form| %>
  <% if user_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_permission.errors.count, "error") %> prohibited this user_permission from being saved:</h2>

      <ul>
        <% user_permission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :permission_id %>
    <%= form.number_field :permission_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
