
<nav class="navbar navbar-expand-lg navbar-light  sticky-top" id="topNavbar">
    <a href="/" class="navbar-brand text-primary" >
        <img  src="/img/top_navbar/top_navbar.svg" alt="Card image cap" class="img-fluid" id="logo">
         &nbsp;&nbsp;
        <img src="/img/top_navbar/Logo-letras-white.svg" alt="Card image cap" class="todolegal img-fluid">
    </a>
    <ul class="navbar-nav" >
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btn-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50%;"  data-display="static" id="menu-botton">
                <% if current_user.first_name %>
                    <%= current_user.first_name[0]%>
                <% end %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">

                <a href="/users/edit" class="dropdown-item">Mi cuenta</a>
                
                <% if current_user_is_admin %>
                    <button class="dropdown-item disabled font-weight-bold " type="button" >
                        Administrar
                    </button>
                    <div class="dropdown-divider"></div>
                    <%= link_to('-> Usuarios', admin_users_path, class:"dropdown-item") %>
                    <%= link_to('-> Suscritos', admin_subscriptions_path, class:"dropdown-item")%>
                    <%= link_to('-> Leyes', laws_path, class:"dropdown-item")%>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button">
                        Modo edición
                    </button>
                <% end %>
                
                <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class:"dropdown-item") %>
            </div>
        </div>
    </ul>
</nav>

<style>
    #topNavbar{
        margin-bottom: 0px; 
        z-index: 1000; 
        justify-content: space-between;
        background: #171F2A;
        padding: 5px;
    }

    #logo{
      background-color: #171F2A;
      padding-left: 20%;
    }

    .circle{
        height: 60px;
        width: 60px;
        background: #1A7FFA;
        color: white; 
        border-radius: 50%;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .dropdown-menu{
        background: #171F2A;
    }

    .dropdown-item{
        color: #FFFFFF;
    }

    .navbar-brand{
        /* padding-left: 15%; */
    }

    #menu-botton{
        
    }

    @media only screen and (max-width: 767.98px){
        .todolegal{
        margin:0px;
        display: none;
        }

        #logo{
        padding-left: 20px;
        }
    }
</style>

