
<nav class="navbar navbar-expand-lg navbar-light  sticky-top" id="topNavbar">
    <section class="d-inline-flex">
        <a href="/" class="navbar-brand text-primary" >
            <img  src="/img/top_navbar/top_navbar.svg" alt="Card image cap" class="logo img-fluid">
        </a>
        <img  src="/img/white_line.png" alt="Card image cap" class="vertical-line">
        <a href="/home" class="navbar-brand text-primary mt-2 ml-2" >
            <img src="/img/top_navbar/Logo-letras-white.svg" alt="Card image cap" class="todolegal img-fluid">
        </a>
    </section>
    <ul class="navbar-nav" >
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg btn-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50%;"  data-display="static" id="menu-botton">
                <% if current_user.first_name %>
                    <%= current_user.first_name[0]%>
                <% end %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">

                <div class="name-container">
                    <div class="circle btn-avatar btn-avatar-large">
                        <% if current_user.first_name.present? && current_user.last_name.present? %>
                            <%= current_user.first_name[0].upcase + current_user.last_name[0].upcase%>
                        <% end %>
                    </div>
                    <% if current_user.first_name && current_user.last_name %>
                        <%= current_user.first_name + " " + current_user.last_name %>
                    <% end %>
                </div>

                <% if current_user_is_admin %>
                    <%= link_to('Usuarios', admin_users_path, class:"dropdown-item") %>
                    <%= link_to('Administrar listas de mailchimp', admin_mailchimp_path, class:"dropdown-item") %>
                    <%= link_to('Administrar temas de preferencia', users_preferences_tags_path, class:"dropdown-item")%>
                    
                <% end %>

                <% if current_user_is_editor %>
                    <%= link_to('Lista de Leyes', laws_path, class:"dropdown-item")%>
                    <%= link_to('Listado Documentos', documents_path, class:"dropdown-item")%>
                    <%= link_to('Listado Sentencias', documents_path+"?judgements=true", class:"dropdown-item")%>
                    <%= link_to('Listado Autos Acordados', documents_path+"?autos=true", class:"dropdown-item")%>
                    <%= link_to('Otros', documents_path+"?other=true", class:"dropdown-item")%>
                    <%= link_to('Listado Gacetas', gazettes_path, class:"dropdown-item")%>
                <% end %>

                <% if current_user_is_editor_tl %>
                    <% if is_editor_mode_enabled %>
                        <a href="/admin/disable_edit_mode" class="dropdown-item">
                        Deshabilitar modo edición</a>
                    <% else %>
                        <a href="/admin/enable_edit_mode" class="dropdown-item">
                        Habilitar modo edición</a>
                    <% end %>
                    <div class="dropdown-divider"></div>
                <% end %>

                <%= link_to(edit_user_registration_path, {class: "dropdown-item"}) do %>
                    <i class="fas fa-user" aria-hidden="true"></i>
                    Tu cuenta
                <% end %>
                <a class="dropdown-item" href="<%= valid_url %>">
                    <img  src="/img/top_navbar/valid.png" alt="Card image cap" class="valid--logo">
                    <img  src="/img/icon-valid-gray20px.png" alt="Card image cap" class="valid--logo--inverse">
                    Valid
                </a> 
                <a class="dropdown-item" href="<%= ley_abierta_url %>">
                    <img  src="/img/ley_abierta_icon_white.png" alt="Card image cap" class="leyabierta--logo">
                    <img  src="/img/ley_abierta_icon.svg" alt="Card image cap" class="leyabierta--logo--inverse">
                    Ley Abierta
                </a>
                <%= link_to(destroy_user_session_path, {class: "dropdown-item", method: 'delete' }) do %>
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    Cerrar sesión
                <% end %>
            </div>
        </div>
    </ul>
</nav>

<style>
    #topNavbar{
        margin-bottom: 0px; 
        z-index: 1040; 
        justify-content: space-between;
        background: #171F2A;
        padding: 5px 20px;
    }

    .logo{
      background-color: #171F2A;
    }

    .navbar-brand{
        margin-right: 0.5rem;
    }

    .vertical-line{
        height: 40px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 7px;
        width: 1px;
    }

    .circle{
        height: 60px;
        width: 60px;
        color: white; 
        border-radius: 50%;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .dropdown-menu{
        background: #171F2A;
        min-width: 18em;
    }

    .dropdown-item{
        color: #FFFFFF;
    }

    .btn-pro {
    box-sizing: border-box;
    margin: .5rem 23px;
    }

    .dropdown-menu .btn-avatar-large {
    height: 60px;
    width: 60px;
    font-size: 22px;
    margin: 0.25em .85em 1em;
    padding: 0;
    display: flex;
    justify-content: center;
    }

    .name-container {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.2);
        margin-bottom: 1em;
    }

    .dropdown-item--suscription {
        display: flex; 
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .dropdown-item--suscription svg{
        margin-right: 6px;
    }

    .dropdown-item--suscription small{
        text-transform: uppercase;
        font-size: .65rem;
        line-height: .3rem;
        display: block;
        padding-top: .5rem;
    }
    .valid--link{
        align-self: center;
        color: white;
    }

    .valid--link:hover{
        color: white;
        text-decoration: none;
    }

    .valid--logo, .leyabierta--logo{
        width: 7%;
    }

    .valid--logo--inverse, .leyabierta--logo--inverse{
        width: 8%;
    }

    /* Hide the inverse logo by default */
    .valid--logo--inverse, .leyabierta--logo--inverse{
        display: none;
    }

    /* Show inverse logo when hovering over the link */
    .dropdown-item:hover .valid--logo--inverse {
        display: inline-block;
    }

    .dropdown-item:hover .libreria--logo--inverse {
        display: inline-block;
    }

    .dropdown-item:hover .leyabierta--logo--inverse {
        display: inline-block;
    }

    /* Hide original logo when hovering over the link */
    .dropdown-item:hover .valid--logo {
        display: none;
    }

    .dropdown-item:hover .libreria--logo {
        display: none;
    }

    .dropdown-item:hover .leyabierta--logo {
        display: none;
    }


    @media only screen and (max-width: 767.98px){
        .todolegal{
            width: 105px;
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu {
            width: 100%;
            position: fixed;
            left: 0;
            top: 62px;
            border-radius: 0 0 2px 2px;
        }

        .valid--logo{
            width: 5%;
        }

        .valid--logo--inverse{
            width: 7%;
        }

        .leyabierta--logo, .libreria--logo {
            width: 5%;
        }

        .leyabierta--logo--inverse, .libreria--logo--inverse {
            width: 5%;
        }
    }

   @media only screen and (min-width: 1200px){

    #topNavbar{
      padding: 5px 10vw;
    }
   }
</style>

