<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/google_analytics_head' %>
  <%= render 'layouts/crisp_chat' %>
  <%= render 'layouts/facebook_pixel' %>
  <%= render 'layouts/opengraph' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= render 'layouts/favicons' %>

  <title>
    <% if yield(:title).blank? %>
      TodoLegal
    <% else %>
      <%= yield(:title) %>
    <% end %>
  </title>
  <meta name="description" content="En TodoLegal tú puedes navegar las leyes hondureñas artículo por artículo y realizar búsquedas por palabras clave.">
  <meta name="keywords" content="constitución, constitución de la república, ley, poder judicial, ley de procedimiento administrativo">

  <!-- Bootstrap CSS CDN -->
  <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  

  <!-- Dropwdown with search input CDN -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/law_view.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/new_theme.css">
  <link rel="stylesheet" href="/css/login_buttons.css">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <!--Bootstrap form validator-->
  <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

  <!-- Cookie Alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- Animation CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  <script src="/js/tinymce/tinymce.min.js"></script>
  <script src="/js/tinymce/langs/es_MX.js"></script>
  <script>
    tinymce.init({
      selector: '.tinymce',
      plugins: 'lists link table code help wordcount',
      toolbar: 'undo redo | styleselect | bold italic | bullist numlist | alignleft aligncenter alignright alignjustify | outdent indent',
      entity_encoding: 'raw',
      language: 'es_MX',
      setup: function(editor) {
        editor.on('SkinLoaded', function() {
          const css = document.createElement("style");
          css.type = "text/css";
          css.innerHTML = ".tox .tox-promotion-link, .tox .tox-statusbar__branding svg { display: none; }";
          document.body.appendChild(css);
        });
      }
    });
  </script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- importmap config -->
  <%= javascript_importmap_tags %>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
  <%= yield(:head) %>
  <!-- End importmap config -->
</head>

<body onclick="onClickBody()">
  <%= render 'layouts/google_analytics_body' %>

  <% if user_signed_in? %>
      <%= render 'layouts/logged_navbar' %>        
  <% else %>
      <%= render 'layouts/unlogged_navbar' %> 
  <% end %>

  <% if notice %>
    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert" id="notice">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <% if current_user and !current_user.confirmed_at%>
    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert" id="notice">
        El último paso es confirmar tu cuenta por correo electrónico. Si no lo tienes  <%= link_to 'Haz clic aquí para reenviar.', send_confirmation_email_path, method: :post%>
    </div>
  <%end%>

  <%= yield %>
  
  <div class="overlay"></div>

  <!-- START Bootstrap-Cookie-Alert -->
  <div class="alert text-center cookiealert" role="alert">
    <b>¿Te gustan las cookies?</b> &#x1F36A; Usamos cookies para ofrecerte una mejor experienca de navegación.
    <a href="https://cookiesandyou.com/" target="_blank">Leer más</a>
    <button type="button" class=" btn-primary btn-sm acceptcookies">
      Acepto
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
  <!-- END Bootstrap-Cookie-Alert -->

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script src="/js/law_navigation.js"></script>
  
  <style>
    .customButton{
      display: block;
      width: 20px;
      height: 20px;
      top : 10px;
      left : 10px;
      position: fixed;
      border-radius: 10px;
    }
    .card {
      border: none;
    }
    body {
      background: #EFF3F8;
    }
  </style>
  <script src="/menu_control.js"></script>
  <%= render 'layouts/footer' %>
<!--
  <footer class="footer">
    <div class="container">
      <span class="text-muted">2019-2020 Legal Technologies S.A.</span>
       <a align="right" href="https://policies.todolegal.app/terms/"><span class="text-muted">Términos y condiciones</span></a>
    </div>
  </footer>
-->
</body>
</html>